/* common styles */
html {
/* This converts the default browser font size from 16px to 10px */
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.display-inline {
    display: inline;
}

.large-text {
    margin-top: 5rem;
    font-size: 2rem;
    color: #FFFFFF;
    background-color: #000080;
    padding: 1rem;
    border-radius: 1rem;


}

.form-title-text {
    font-size: 2rem;
    font-weight: 600;
}

.no_scroll {
    overflow-y: hidden;
}

.text-input-large {
    text-align: center;
    font-size: 2rem;
    border-radius: 3px;
    border: 1px solid transparent;
    border-top: none;
    border-bottom: 1px solid #DDD;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.39),
    0 -1px 1px #FFF, 0 1px 0 #FFF;
    padding: .5rem;
    width: 90%;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 4rem solid transparent;
  border-right: 4rem solid transparent;
  border-top: 2.5rem solid #FFFFFF;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 4rem solid transparent;
  border-right: 4rem solid transparent;
  border-bottom: 2.5rem solid #FFFFFF;
}

.blue-btn{
    margin: .5rem;
    font-size: 1.75rem;
    padding: 1.25rem 1.75rem;
    width: 20rem;
    text-align: center;
    transition: 0.5s opacity .3s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    outline: none;
    background-image: linear-gradient(to right, #00c6ff 0%, #0072ff  51%, #00c6ff  100%)
}
.smaller{
    width: auto;
}

.blue-btn:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.red-btn {
    margin: 1rem;
    font-size: 1.75rem;
    padding: 1.25rem 1.75rem;
    width: 20rem;
    text-align: center;
    transition: 0.5s opacity .3s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    outline: none;
    background-image: linear-gradient(to right, #ffa5a5 0%, #ff0000 51%, #ffa5a5 100%)
}

.red-btn:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.form-title-box {
    text-align: center;
    width: 75%;
    margin: 2rem;
    border-radius: .5rem;
    padding: 2rem;
    background-color: #5f88a0;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0 0.0625em 0.0625em,
                rgba(0, 0, 0, 0.25) 0 0.125em 0.5em,
                rgba(255, 255, 255, 0.1) 0 0 0 1px inset;
}

.message-wrapper {
    position: absolute;
    z-index: 1;
    display: none;
    visibility: visible;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.message-box {
    text-align: center;
    border-radius: .75rem;
    max-width: 40rem;
    width: 75vw;
    padding: 1.5rem;
    font-size: 2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0 13px 27px -5px,
                rgba(0, 0, 0, 0.3) 0 8px 16px -8px;
    opacity: 100%;
}

.error {
    background-color: #c00000;
    color: #FFFFFF;
}

.info {
    background-color: #000080;
    color: #FFFFFF;
}

.success {
    background-color: #00c400;
    color: #FFFFFF;
}

.fade_out {
    animation: fadeout 8s;
    opacity: 0;
    top: -60%
}
.fade_out_quick {
    animation: fadeout 2s;
    opacity: 0;
    top: -60%
}
@keyframes fadeout {
    0%{
        opacity: 1;
        top: 40%;
    }
    65%{
        opacity: 1;
        top: 40%;
    }
    75%{
        opacity: 0;
    }
    100% {
        opacity: 0;
        top: -60%;
        display: none;
    }
}

/*elements related to updating/deleting tool info*/
.tool-title-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.tool-title {
    border-radius: .25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    min-height: 3rem;
    font-weight: 700;
    text-align: center;
    background-color: #FFFFFF;
    padding: .5rem;
    font-size: 2rem;
    box-shadow: rgba(6, 24, 44, 0.4) 0 0 0 2px,
                rgba(6, 24, 44, 0.65) 0 4px 6px -1px,
                rgba(255, 255, 255, 0.08) 0 1px 0 inset;
}

.no-display {
    display: none;
}

.tool-title-input {
    border-radius: .5rem;
    outline: none;
    align-items: center;
    align-self: center;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    width: 95%;
    height: 95%;
}

.confirm-change-btn {
    display: none;
    border-radius: .75rem;
    font-size: 2rem;
    padding: 1rem .5rem;
    width: 25%;
    max-width: 10rem;
    color: #FFFFFF;
    background-color: #00c400;
}

.cancel-change-btn {
    display: none;
    border-radius: .75rem;
    font-size: 2rem;
    padding: 1rem .5rem;
    width: 25%;
    max-width: 10rem;
    color: #ffffff;
    background-color: #c00000;
}

.delete-tool-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
}

.delete-btn-large {
    display: none;
    margin-top: 1rem;
    border-radius: .75rem;
    font-size: 2rem;
    background-color: #c00000;
    color: #FFFFFF;
    height: 4rem;
    width: 95%;
}

.delete-btn-small {
    display: none;
    border-radius: .75rem;
    font-size: 4rem;
    background-color: #c00000;
    color: #FFFFFF;
    padding: .5rem 1.5rem
}


/*Login Page*/

#LoginPageWrapper{
    display: grid;
    grid-template-rows: 10vh 80vh 10vh;

	background: linear-gradient(-60deg, #4800ff, #ff6200, #0072ff, #00ff8c);
	background-size: 400% 400%;
	-webkit-animation: gradient 15s ease infinite;
	        animation: gradient 15s ease infinite;
}

@-webkit-keyframes gradient {
	0% {
		background-position: 0 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0 50%;
	}
}

.login-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.login-header-text {
    color: #FFFFFF;
    font-size: 3rem;
}

.login-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.login-footer {
    /*background-color: #0072ff*/
}

#LoginForm {
    background-color: #FFFFFF;
    opacity: 80%;
    display:flex;
    flex-direction: column;
    align-items: center;
    border-radius: .5rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0,
                rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
}

.login-form-input {
    font-size: 2rem;
    border:0;
    border-bottom:1px solid #555;
    background:transparent;
    width:80%;
    padding: .5rem 0 .5rem 0;
    margin: 3rem;
}

.login-form-btn {
    font-size: 1.75rem;
    margin: 2rem;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    outline: none;
    background-image: linear-gradient(to right, #00c6ff 0%, #0072ff  51%, #00c6ff  100%)
}

.login-form-btn:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

/*User Home Page*/

#UserHomeWrapper {
    display: grid;
    grid-template-rows: 10vh 90vh;
    background: url("../images/triangles-background_small.svg") fixed;
    /* background by SVGBackgrounds.com */
}

.user-home-header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: #0072ff;
    align-items: center;
    padding: .25rem;
}

.user-home-body {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.tool-session-link-box {
    background-color: #FFFFFF;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 2rem;
    border: 2px solid #555555;
    width: 90vw;
    height: 10vh;
    margin: 1rem;
    border-radius: 0 0 0 0 / 0 0 0 0 ;
    transition: all .2s ease;
}

.tool-session-link-box-text {
    display:flex;
    align-items: center;
    font-size: 2rem;
}

.tool-session-link-box:hover {
    background-color: rgba(0, 114, 255, .6);
    color: #FFFFFF;
    box-shadow: rgba(50, 50, 93, 0.25) 0 30px 60px -12px inset,
                rgba(0, 0, 0, 0.3) 0 18px 36px -18px inset;
}

#OpenCreateToolSessionModalBtn {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    color: #FFFFFF;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    border-radius: .5rem;
    font-size: 4rem;
    margin-right: 2rem;
    height: 80%;
    width: 15%;
    padding: 1rem;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px,
                rgba(0, 0, 0, 0.23) 0 3px 6px;
}

#CreateToolSessionFormWrapper {
    position: fixed;
    top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 1rem;
    width: 90%;
    border-radius: .5rem;
    background-color: #e2e2e2;
    box-shadow: rgb(38, 57, 77) 0 20px 30px -10px;
    opacity: 0;
    transition: opacity 0.3s;
    visibility: hidden;
}
#CreateToolSessionForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
}

/*tool session detail page*/

.tool-session-page-header {
    display: flex;
    justify-content: center;
    position: fixed;
    background-color: #0072ff;
    height: 3rem;
    width: 100vw;
    box-shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px,
                rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

}

#ToolSessionPageWrapper {
    display: flex;
    min-height: 80vh;
    width: 100vw;
}

.menu-open-close-line {
    border-bottom: .2rem solid white;
}

.menu-open-close-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;
    width: 25%;
    max-width: 10rem;
}

#ToolSelectionMenu {
    left: 50%;
    transform: translate(-50%, 0);
    display: grid;
    grid-template-rows: 47% 47% 6%;
    top: -90vh;
    position: fixed;
    max-width: 50rem;
    width: 100%;
    height: 90vh;
    background-color: #0072ff;
    box-shadow: rgb(38, 57, 77) 0 20px 30px -10px;
    transition: .3s;
    transition-timing-function: ease-out;
    visibility: hidden;
    z-index: 1;
}

.tools-menu-header {
    display: flex;
    align-items: center;
    margin: .5rem;
    justify-self: center;
    background-color: darkblue;
    border-radius: 1rem;
    width: 95%;
    color: #FFFFFF;
    font-size: 2rem;
    padding: .5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px,
                rgba(0, 0, 0, 0.23) 0 3px 6px;
}

.tools-menu-header-text {
    margin-left: 2rem;
}

#ToolSelectionMenuCover {
    display: none;
    position: absolute;
    background-color: #000000;
    height: 100vh;
    width: 100vw;
    transition: opacity .3s;
    opacity: 0;
}

.tool-selection-menu-footer {
    display: flex;
    justify-content: space-around;
}

#AddNewToolsMenu {
    display: grid;
    grid-template-rows: 15% 1fr 1fr;
}

.add-tools-btn-row{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 0 5%;
}
.add-tool-button {
    outline: none;
    width: 25%;
    height: 80%;
    max-width: 12rem;
    max-height: 10rem;
    background-color: #FFFFFF;
    margin: 1rem;
    border-radius: .5rem;
}

.add-new-tool-form-wrapper {
    top: 15%;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    position: fixed;
    width: 95%;
    min-height: 60%;
    max-width: 45rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: .25rem;
    background-color: #e2e2e2;
    box-shadow: rgba(50, 50, 93, 0.25) 0 6px 12px -2px,
                rgba(0, 0, 0, 0.3) 0 3px 7px -3px;
    opacity: 0;
    transition: opacity 0.3s;
    visibility: hidden;
}

.add-new-tool-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
}

#SelectActiveToolMenu {
    display: grid;
    grid-template-rows: 15% 1fr 1fr;

}
.select-active-tool-btn-row{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 0 5%;
}

.select-active-tool-button {
    display: none;
    outline: none;
    width: 25%;
    height: 80%;
    max-width: 12rem;
    max-height: 10rem;
    background-color: #FFFFFF;
    margin: 1rem;
    border-radius: .5rem;
}

.button-visible {
    display: inline;
}

/*Tool Views*/

#ToolSessionPageWrapper {
    background: rgb(0,114,255);
    background: radial-gradient(circle, rgba(0,114,255,1) 0%, rgba(0,0,0,1) 100%);
}

#toolPageDarkCover {
    display: none;
    position: absolute;
    background-color: #000000;
    height: 100vh;
    width: 100vw;
    transition: opacity .3s;
    opacity: 0;
}

.tool-session-page-body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.tool-body {
    justify-content: center;
    margin-top: 3rem;
    display: none;
    flex-wrap: wrap;
    align-items: flex-start;
    overflow-x: hidden;
    min-height: 90vh;
}

/*HP TRACKERS*/

.hp-tracker-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: .75rem;
    min-width: 30rem;
    max-width: 45rem;
    width: 95%;
    background-color: #e2e2e2;
    border-radius: .5rem;
    box-shadow: rgba(6, 24, 44, 0.4) 0 0 0 2px,
                rgba(6, 24, 44, 0.65) 0 4px 6px -1px,
                rgba(255, 255, 255, 0.08) 0 1px 0 inset;
}

.hp-tracker-title-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.hp-tracker-title {
    border-radius: .25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    min-height: 3rem;
    font-weight: 700;
    text-align: center;
    background-color: #FFFFFF;
    font-size: 2rem;
    box-shadow: rgba(6, 24, 44, 0.4) 0 0 0 2px,
                rgba(6, 24, 44, 0.65) 0 4px 6px -1px,
                rgba(255, 255, 255, 0.08) 0 1px 0 inset;
}

.no-display {
    display: none;
}

.hp-tracker-control-box {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    width: 95%;
}

.hp-value-change-btn {
    border-radius: .75rem;
    font-size: 3rem;
    padding: .5rem;
    height: 90%;
    width: 25%;
    max-width: 10rem;
}

.hp-title-change-confirm-btn {
    margin-left: 1rem;
}

.hp-title-change-cancel-btn {
    margin-right: 1rem;
}

.hp-value {
    border-radius: .75rem;
    text-align: center;
    width: 35%;
    max-width: 8rem;
    font-weight: 700;
    padding: 1.25rem;
    font-size: 3rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0 30px 60px -12px inset,
                rgba(0, 0, 0, 0.3) 0 18px 36px -18px inset;
}

.hp-value-input-hidden {
    position: absolute;
    visibility: hidden;
}

.hp-change-value {
    font-weight: 700;
    text-align: center;
    font-size: 3rem;
    display: none;
    width: 20%;
    position: absolute;
    color: #00ff00;
}
.hp-change-value-cover {
    display: none;
    width: 20%;
    height: 1rem;
    position: absolute;
    background-color: #000000;
    opacity: 75%;
}

.hp-change-value-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/*DIE GROUPS*/

.die-group-box {
    background-color: mintcream;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 1rem 0 1rem 0;
    min-width: 30rem;
    max-width: 45rem;
    width: 95%;
    border-radius: .5rem;
    box-shadow: rgba(6, 24, 44, 0.4) 0 0 0 2px,
                rgba(6, 24, 44, 0.65) 0 4px 6px -1px,
                rgba(255, 255, 255, 0.08) 0 1px 0 inset;
}

.die-group-update-form {
    display: flex;
    justify-content: center;
    width: 95%;
}

.die-group-control-box {
    align-items: center;
    display: flex;
    margin: .25rem 0 .25rem 0;
    justify-content: space-evenly;
    width: 95%;
    height: 100%;
}

.die-group-add-die-open-form-btn {
    color: #ffffff;
    background-color: #00c6ff;
    border: 1px solid black;
    border-radius: .5rem;
    font-size: 2rem;
    width: 25%;
    max-width: 10rem;
    padding: 1.2rem .5rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0 0.0625em 0.0625em,
                rgba(0, 0, 0, 0.25) 0 0.125em 0.5em,
                rgba(255, 255, 255, 0.1) 0 0 0 1px inset;
}

.die-group-add-die-open-form-btn:active{
    transform: translate(2px, 3px);
}

.die-group-roll-all-form {
    width: 25%;
    max-width: 10rem;
}

.die-group-roll-all-btn {
    text-align: center;
    color: #ffffff;
    background-color: #00c400;
    border: 1px solid black;
    border-radius: .5rem;
    font-size: 2rem;
    width: 100%;
    padding: 1.2rem .5rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0 0.0625em 0.0625em,
                rgba(0, 0, 0, 0.25) 0 0.125em 0.5em,
                rgba(255, 255, 255, 0.1) 0 0 0 1px inset;
}

.die-group-roll-all-btn:active{
    transform: translate(2px, 3px);
}

.die-values-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.die-row {
    border-radius: 1rem;
    min-height: 6rem;
    display: flex;
    justify-content: space-between;
    width: 90%;
    border: ridge .5rem white;
    margin: .5rem 0 .5rem 0;
    padding: .5rem;
    background: linear-gradient(90deg,
                rgba(2,0,36,1) 0%,
                rgba(0,114,255,1) 35%,
                rgba(0,212,255,1) 100%)
}
.die-num-sides {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 25%;
    font-size: 3rem;
    color: #FFFFFF;
}

.die-rolled-value {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 1rem;
    margin: .5rem;
    border: solid .2rem #FFFFFF;
    font-weight: 700;
    width: 25%;
    max-width: 15rem;
    font-size: 3rem;
    color: #FFFFFF;
}

.die-roll-btn {
    background-color: mintcream;
    padding: .5rem 1.5rem;
    height: 100%;
    border-radius: .5rem;
    font-size: 2rem;
}

.die-group-sum-box {
    display: flex;
    justify-content: center;
    min-width: 18%;
    max-width: 7rem;
    min-height: 3.2rem;
    font-size: 3rem;
    border-radius: 1rem;
    border: solid .2rem;
    padding: .5rem;
}

.die-group-add-die-form-wrapper {
    display: flex;
    position: fixed;
    top: 7%;
    width: 95%;
    max-width: 45rem;
    flex-direction: column;
    align-items: center;
    border-radius: .25rem;
    background-color: #e2e2e2;
    opacity: 0;
    transition: opacity 0.3s;
    visibility: hidden;
    box-shadow: rgba(0, 0, 0, 0.25) 0 14px 28px,
                rgba(0, 0, 0, 0.22) 0 10px 10px;
}

.add-die-form-title {
    padding: .25rem;
    width: 90%;
}
.die-group-add-die-standard-form {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.add-die-standard-input {
    text-align: center;
    border-radius: .75rem;
    font-size: 4rem;
    border: 1px solid #555;
    background:transparent;
    width: 75%;
    height: 75%;
    max-width: 15rem;
    padding: .5rem 0 .5rem 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0 30px 60px -12px inset,
                rgba(0, 0, 0, 0.3) 0 18px 36px -18px inset;
}

.die-group-add-die-standard-btn {
    width: 100%;
    max-width: 15rem;
}


.common-die-quick-add-btn-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.common-die-quick-add-btn {
    border-radius: .75rem;
    font-size: 3rem;
    height: 30%;
    width: 25%;
    margin: .5rem;
    padding: .5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0 30px 60px -12px inset,
                rgba(0, 0, 0, 0.3) 0 18px 36px -18px inset;
}

.add-die-form-done-btn {
    align-self: flex-end;
}

/*RESOURCE GROUPS*/

.resource-group-box {
    background-color: mintcream;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 1rem 0 1rem 0;
    min-width: 30rem;
    max-width: 45rem;
    width: 95%;
    border-radius: .5rem;
    box-shadow: rgba(6, 24, 44, 0.4) 0 0 0 2px,
                rgba(6, 24, 44, 0.65) 0 4px 6px -1px,
                rgba(255, 255, 255, 0.08) 0 1px 0 inset;
}

.resource-group-update-form {
    display: flex;
    justify-content: center;
    width: 95%;
}

.resource-group-control-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: .25rem 0 1rem 0;
    width: 95%;
    height: 100%;
}

.resource-group-produce-all-form {
    min-width: 25%;
    max-width: 30rem;
}

.resource-group-produce-all-btn {
    text-align: center;
    color: #ffffff;
    background-color: #00c400;
    border: 1px solid black;
    border-radius: .5rem;
    font-size: 2rem;
    width: 100%;
    padding: 1.2rem .75rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0 0.0625em 0.0625em,
                rgba(0, 0, 0, 0.25) 0 0.125em 0.5em,
                rgba(255, 255, 255, 0.1) 0 0 0 1px inset;
}

.resource-group-produce-all-btn:active{
    transform: translate(2px, 3px);
}

.resource-group-add-resource-open-form-btn {
    color: #ffffff;
    background-color: #00c6ff;
    border: 1px solid black;
    border-radius: .5rem;
    font-size: 2rem;
    width: 25%;
    max-width: 10rem;
    padding: 1.2rem .5rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0 0.0625em 0.0625em,
                rgba(0, 0, 0, 0.25) 0 0.125em 0.5em,
                rgba(255, 255, 255, 0.1) 0 0 0 1px inset;
}

.resource-group-add-resource-open-form-btn:active{
    transform: translate(2px, 3px);
}

.resource-box {
    display: flex;
    flex-direction: column;
    width: 95%;
    border-radius: .5rem;
    margin: .25rem 0 .25rem 0;
    padding: .25rem .1rem;
    border: ridge .5rem white;
}

.resource-box-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.resource-name-box {
    align-self: flex-start;
    min-width: 50%;
    font-size: 2rem;
    margin: .5rem;
    color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: .5rem;
    border-radius: .5rem;
    background-color: #FF6200;
}

.resource-qty-box {
    color: #FFFFFF;
    background-color: #4800FF;
    text-align: center;
    width: 33%;
    font-size: 2.25rem;
    margin: .5rem;
    padding: .5rem;
    border-radius: .5rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.resource-modifier-box {
    text-align: center;
    width: 33%;
    font-size: 2rem;
    margin: .5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0 30px 60px -12px inset,
                rgba(0, 0, 0, 0.3) 0 18px 36px -18px inset;
    padding: .5rem;
    border-radius: .5rem;
    background-color: mintcream;
}

.resource-modifier-btn {
    font-size: 3rem;
    width: 20%;
}



/* Prevent Chrome from changing autofill text size to small */
input:-webkit-autofill::first-line {font-size: 2rem}

/* Prevent Chrome from adding yellow to autofilled fields */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: all 5000s ease-in-out 0s;
    transition-property: background-color, color;
}

/*Remove arrows/spinners from inputs*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

