/* common styles */
html {
/* This converts the default browser font size from 16px to 10px */
    font-size: 62.5%;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.disable-double-tap-to-zoom {
    touch-action: none;
}
.display-inline {
    display: inline;
}
.absolute-hidden {
    position: absolute;
    visibility: hidden;
}
.large-text {
    margin-top: 2rem;
    font-size: 1.75rem;
    color: #FFFFFF;
    background-color: #000080;
    padding: 1rem;
    border-radius: .5rem;
}
.form-title-text {
    font-size: 2rem;
    font-weight: 600;
}
.no_scroll {
    overflow-y: hidden;
}
.text-input-large {
    text-align: center;
    padding: .75rem;
    font-size: 2rem;
    border-radius: 3px;
    border: 2px solid #5f88a0;
    border-bottom: 1px solid #DDD;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.39),
    0 -1px 1px #FFF, 0 1px 0 #FFF;
    width: 90%;
}
.arrow-down {
  width: 0;
  height: 0;
  border-left: 4rem solid transparent;
  border-right: 4rem solid transparent;
  border-top: 2.5rem solid #FFFFFF;
}
.arrow-up {
  width: 0;
  height: 0;
  border-left: 4rem solid transparent;
  border-right: 4rem solid transparent;
  border-bottom: 2.5rem solid #FFFFFF;
}
.blue-btn{
    vertical-align: top;
    border-radius: .25rem;
    padding: 1rem;
    font-size: 2rem;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #3498db;
    border: 0;
    border-bottom: 2px solid #2a8bcc;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #2a8bcc;
    box-shadow: inset 0 -2px #2a8bcc;
}
.blue-btn:active {
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.red-btn {
    vertical-align: top;
    border-radius: .25rem;
    padding: 1rem;
    font-size: 2rem;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #c0392b;
    border: 0;
    border-bottom: 2px solid #b53224;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #b53224;
    box-shadow: inset 0 -2px #b53224;
}
.red-btn:active {
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.small {
    font-size: 1.5rem;
}
.create-form-btn {
    margin: .5rem;
    width: 50%;
}


.form-title-box {
    text-align: center;
    width: 85%;
    margin: 1rem;
    border-radius: .25rem;
    padding: .75rem;
    background-color: #555555;
    color: white;
}

.message-wrapper {
    position: absolute;
    z-index: 3;
    display: none;
    visibility: visible;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-page-messages {
    display: inline;
}

.message-box {
    text-align: center;
    border-radius: .5rem;
    max-width: 40rem;
    width: 75vw;
    padding: 1.5rem;
    font-size: 2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0 13px 27px -5px,
                rgba(0, 0, 0, 0.3) 0 8px 16px -8px;
    opacity: 100%;
}

.error {
    background-color: #c00000;
    color: #FFFFFF;
}

.info {
    background-color: #000080;
    color: #FFFFFF;
}

.success {
    background-color: #00c400;
    color: #FFFFFF;
}

.fade_out {
    animation: fadeout 5s;
    opacity: 0;
    top: -60%
}
.fade_out_quick {
    animation: fadeout 2s;
    opacity: 0;
    top: -60%
}
@keyframes fadeout {
    0%{
        opacity: 1;
        top: 40%;
    }
    65%{
        opacity: 1;
        top: 40%;
    }
    75%{
        opacity: 0;
    }
    100% {
        opacity: 0;
        top: -60%;
        display: none;
    }
}

/*elements related to updating/deleting tool info*/
.tool-title-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.tool-title {
    border-radius: .25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    min-height: 3rem;
    font-weight: 700;
    text-align: center;
    background-color: #FFFFFF;
    padding: .5rem;
    font-size: 2rem;
    box-shadow: rgba(6, 24, 44, 0.4) 0 0 0 2px,
                rgba(6, 24, 44, 0.65) 0 4px 6px -1px,
                rgba(255, 255, 255, 0.08) 0 1px 0 inset;
}

.no-display {
    display: none;
}

.tool-title-input {
    border-radius: .25rem;
    outline: none;
    align-items: center;
    align-self: center;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    width: 95%;
    height: 95%;
}

.confirm-change-btn {
    display: none;
    border-radius: .5rem;
    font-size: 2rem;
    padding: 1rem .5rem;
    width: 25%;
    max-width: 10rem;
    color: #FFFFFF;
    background-color: #00c400;
}

.cancel-change-btn {
    display: none;
    border-radius: .5rem;
    font-size: 2rem;
    padding: 1rem .5rem;
    width: 25%;
    max-width: 10rem;
    color: #ffffff;
    background-color: #c00000;
}

.delete-tool-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
}

.delete-btn-large {
    display: none;
    margin-top: 1rem;
    border-radius: .5rem;
    font-size: 2rem;
    background-color: #c00000;
    color: #FFFFFF;
    height: 4rem;
    width: 95%;
}

.delete-btn-small {
    display: none;
    border-radius: .5rem;
    font-size: 4rem;
    background-color: #c00000;
    color: #FFFFFF;
    padding: .5rem 1.5rem
}

/*styles common to all group objects*/

/*form for creating new objects inside a group*/
.create-new-object-form-wrapper {
    display: flex;
    flex-direction: column;
    position: fixed;
    min-height: 30rem;
    min-width: 30rem;
    top: 2%;
    width: 95%;
    max-width: 45rem;
    align-items: center;
    border-radius: .25rem;
    background-color: mintcream;
    opacity: 0;
    transition: opacity 0.3s;
    visibility: hidden;
    box-shadow: rgba(0, 0, 0, 0.25) 0 14px 28px,
                rgba(0, 0, 0, 0.22) 0 10px 10px;
}
.create-object-form-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: .5rem;
}

.create-custom-object-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    vertical-align: bottom;
    width: 95%;
    justify-content: center;
    padding: 0;
}

.common-object-quick-create-btn {
    border-radius: .5rem;
    font-size: 3rem;
    width: 30%;
    margin: .5rem;
    padding: .5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0 30px 60px -12px inset,
                rgba(0, 0, 0, 0.3) 0 18px 36px -18px inset;
}

.common-object-quick-add-btn-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.create-custom-object-form-done-btn {
    margin-top:auto;
    margin-right: 5%;
    margin-bottom: 5%;
    align-self: flex-end;
}

/*Login Page*/

.login-page-wrapper {
    display: grid;
    grid-template-rows: 10vh 90vh;

	background: linear-gradient(-60deg, #4800ff, #ff6200, #0072ff, #00ff8c);
	background-size: 400% 400%;
	-webkit-animation: gradient 15s ease infinite;
	        animation: gradient 15s ease infinite;
}

@-webkit-keyframes gradient {
	0% {
		background-position: 0 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0 50%;
	}
}

.login-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.login-header-text {
    color: #FFFFFF;
    font-size: 3rem;
}

.login-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form-wrapper {
    margin: auto;
}

.login-form {
    background-color: #FFFFFF;
    opacity: 80%;
    display:flex;
    flex-direction: column;
    align-items: center;
    border-radius: .25rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0,
                rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
    padding: 0 0 1rem 0;
}

.login-form-input {
    font-size: 2rem;
    border:0;
    border-bottom:1px solid #555;
    background:transparent;
    width:80%;
    padding: .5rem 0 .5rem 0;
    margin: 3rem;
}

.create-user-input {
    margin: 1.5rem 3rem;
}

.login-form-btn {
    font-size: 1.75rem;
    margin: 2rem;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    outline: none;
    background-image: linear-gradient(to right, #00c6ff 0%, #0072ff  51%, #00c6ff  100%)
}

.login-form-btn:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.create-user-link {
    font-size: 1.75rem;
}

.create-user-form-wrapper {
    margin: auto;
    display: flex;
    justify-content: center;
    max-width: 50rem;
    width: 100%;
}

.create-new-user-form-title {
    font-size: 2rem;
    margin: 1.5rem;
}

.create-user-form {
    background-color: #FFFFFF;
    width: 90%;
    opacity: 80%;
    display:flex;
    flex-direction: column;
    align-items: center;
    border-radius: .25rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0,
                rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
    padding: 0 0 1rem 0;
}

.create-user-form-errors-wrapper {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.create-user-form-field-error {
    font-size: 1.5rem;
    background-color: #c00000;
    color: #FFFFFF;
    margin: .25rem;
    padding: .5rem;
    border-radius: .25rem;
}

/*User Home Page*/

#UserHomeWrapper {
    display: grid;
    grid-template-rows: 10vh 90vh;
    background: rgb(0,114,255);
    background: radial-gradient(circle,
                rgba(0,114,255,1) 0%,
                rgba(0,0,0,1) 100%);
}

.user-home-header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: #0072ff;
    align-items: center;
    padding: .25rem;
}

.logout-link {
    font-size: 2rem;
    margin: 0 0 0 2rem;
    color: mintcream;

}

.user-home-body {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.tool-session-link-box {
    background-color: mintcream;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 2rem;
    border: 2px solid #555555;
    width: 90vw;
    height: 10vh;
    margin: 1rem;
    border-radius: 0 0 0 0 / 0 0 0 0 ;
    transition: all .2s ease;
}

.tool-session-link-box-text {
    display:flex;
    align-items: center;
    font-size: 2rem;
}

.tool-session-link-box:hover {
    background-color: rgba(0, 114, 255, .6);
    color: #FFFFFF;
    box-shadow: rgba(50, 50, 93, 0.25) 0 30px 60px -12px inset,
                rgba(0, 0, 0, 0.3) 0 18px 36px -18px inset;
}

.open-create-tool-session-modal-btn {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    color: mintcream;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    border-radius: .25rem;
    font-size: 4rem;
    margin-right: 2rem;
    height: 80%;
    width: 15%;
    padding: 1rem;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px,
                rgba(0, 0, 0, 0.23) 0 3px 6px;
}

#CreateToolSessionFormWrapper {
    border: 1px solid black;
    position: fixed;
    top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 1rem;
    max-width: 50rem;
    width: 90%;
    border-radius: .25rem;
    background-color: mintcream;
    box-shadow: rgb(38, 57, 77) 0 20px 30px -10px;
    opacity: 0;
    transition: opacity 0.3s;
    visibility: hidden;
}
#CreateToolSessionForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
}

/*tool session detail page*/

.tool-session-page-header {
    display: flex;
    justify-content: center;
    position: fixed;
    background-color: #0072ff;
    height: 3rem;
    width: 100vw;
    box-shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px,
                rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

}

#ToolSessionPageWrapper {
    display: flex;
    min-height: 80vh;
    width: 100vw;
}

.menu-open-close-line {
    border-bottom: .2rem solid white;
}

.menu-open-close-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;
    width: 25%;
    max-width: 10rem;
}

#ToolSelectionMenu {
    left: 50%;
    transform: translate(-50%, 0);
    display: grid;
    grid-template-rows: 47% 47% 6%;
    top: -80vh;
    position: fixed;
    max-width: 50rem;
    width: 100%;
    height: 80vh;
    background-color: #0072ff;
    box-shadow: rgb(38, 57, 77) 0 20px 30px -10px;
    transition: .3s;
    transition-timing-function: ease-out;
    visibility: hidden;
    z-index: 1;
}

.tools-menu-header {
    display: flex;
    align-items: center;
    margin: .5rem;
    justify-self: center;
    background-color: darkblue;
    border-radius: .5rem;
    width: 95%;
    color: #FFFFFF;
    font-size: 2rem;
    padding: .5rem;
}

.tools-menu-header-text {
    margin-left: 2rem;
}

#ToolSelectionMenuCover {
    display: none;
    position: absolute;
    background-color: #000000;
    height: 100vh;
    width: 100vw;
    transition: opacity .3s;
    opacity: 0;
}

.tool-selection-menu-footer {
    display: flex;
    justify-content: space-around;
}

#AddNewToolsMenu {
    display: grid;
    grid-template-rows: 15% 1fr 1fr;
}

.add-tools-btn-row{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.add-tool-button {
    font-size: 1.25rem;
    word-wrap: break-word;
    outline: none;
    width: 20%;
    height: 80%;
    max-width: 10rem;
    max-height: 10rem;
    background-color: #FFFFFF;
    margin: auto;
    border-radius: .25rem;
}

.add-new-tool-form-wrapper {
    padding: 3rem 0;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    position: fixed;
    width: 95%;
    min-height: 55%;
    max-width: 45rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: .25rem;
    background-color: mintcream;
    box-shadow: rgba(50, 50, 93, 0.25) 0 6px 12px -2px,
                rgba(0, 0, 0, 0.3) 0 3px 7px -3px;
    opacity: 0;
    transition: opacity 0.3s;
    visibility: hidden;
}

.add-new-tool-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
}

.create-player-color-select-field {
    display: flex;
    color: white;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    font-size: 2rem;
    background-color: #555555;
    border-radius: .25rem;
    padding: 1rem;
}

.create-player-color-select-field-select-box {
    width: 120%;
}

#SelectActiveToolMenu {
    display: grid;
    grid-template-rows: 15% 1fr 1fr;

}
.select-active-tool-btn-row{
    display: flex;
    align-items: center;
}

.select-active-tool-button {
    font-size: 1.25rem;
    word-wrap: break-word;
    display: none;
    outline: none;
    width: 20%;
    height: 80%;
    max-width: 12rem;
    max-height: 10rem;
    background-color: #FFFFFF;
    margin: auto;
    border-radius: .25rem;
}

.button-visible {
    display: inline;
}


/*Tool Views*/

#ToolSessionPageWrapper {
    background: rgb(0,114,255);
    background: radial-gradient(circle, rgba(0,114,255,1) 0%, rgba(0,0,0,1) 100%);
}

#toolPageDarkCover {
    display: none;
    position: absolute;
    background-color: #000000;
    height: 100vh;
    width: 100vw;
    transition: opacity .3s;
    opacity: 0;
}

.tool-session-page-body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.tool-body {
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 3rem;
    align-items: center;
    display: none;
    flex-wrap: wrap;
    overflow-x: hidden;
    min-height: 90vh;
}

.flex-start {
    justify-content: flex-start;
    margin-top: 4rem;
}

/*PLAYERS*/

.players-box-wrapper {
    background-color: mintcream;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 1rem 0 1rem 0;
    min-width: 30rem;
    max-width: 45rem;
    width: 95%;
    border-radius: .25rem;
    box-shadow: rgba(6, 24, 44, 0.4) 0 0 0 2px,
                rgba(6, 24, 44, 0.65) 0 4px 6px -1px,
                rgba(255, 255, 255, 0.08) 0 1px 0 inset;
}

.players-control-box {
    display: flex;
    margin: 1rem;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
}

.player-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border: ridge .5rem white;
    width: 85%;
}
.player-name-text {
    font-size: 2rem;
    font-weight: 600;
}
.player-order-box {
    width: 20%;
    border: 1px solid mintcream;
    text-align: center;
    font-size: 2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0 30px 60px -12px inset,
                rgba(0, 0, 0, 0.3) 0 18px 36px -18px inset;
    padding: .5rem;
    border-radius: .25rem;
}

/*HP TRACKERS*/

.hp-tracker-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: .75rem;
    min-width: 30rem;
    max-width: 45rem;
    width: 95%;
    background-color: mintcream;
    border-radius: .25rem;
    box-shadow: rgba(6, 24, 44, 0.4) 0 0 0 2px,
                rgba(6, 24, 44, 0.65) 0 4px 6px -1px,
                rgba(255, 255, 255, 0.08) 0 1px 0 inset;
}

.hp-tracker-title-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.hp-tracker-title {
    border-radius: .25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    min-height: 3rem;
    font-weight: 700;
    text-align: center;
    background-color: #FFFFFF;
    font-size: 2rem;
    box-shadow: rgba(6, 24, 44, 0.4) 0 0 0 2px,
                rgba(6, 24, 44, 0.65) 0 4px 6px -1px,
                rgba(255, 255, 255, 0.08) 0 1px 0 inset;
}

.no-display {
    display: none;
}

.hp-tracker-control-box {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    width: 95%;
}

.hp-value-change-btn {
    border-radius: .5rem;
    font-size: 3rem;
    padding: .5rem;
    height: 90%;
    width: 25%;
    max-width: 10rem;
}

.hp-title-change-confirm-btn {
    margin-left: 1rem;
}

.hp-title-change-cancel-btn {
    margin-right: 1rem;
}

.hp-value {
    border-radius: .5rem;
    text-align: center;
    width: 35%;
    max-width: 8rem;
    font-weight: 700;
    padding: 1.25rem;
    font-size: 3rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0 30px 60px -12px inset,
                rgba(0, 0, 0, 0.3) 0 18px 36px -18px inset;
}

.hp-value-input-hidden {
    position: absolute;
    visibility: hidden;
}

.hp-change-value {
    font-weight: 700;
    text-align: center;
    font-size: 3rem;
    display: none;
    width: 20%;
    position: absolute;
    color: #00ff00;
}
.hp-change-value-cover {
    display: none;
    width: 20%;
    height: 1rem;
    position: absolute;
    background-color: #000000;
    opacity: 75%;
}

.hp-change-value-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/*DIE GROUPS*/

.die-group-box {
    background-color: mintcream;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 1rem 0 1rem 0;
    min-width: 30rem;
    max-width: 45rem;
    width: 95%;
    border-radius: .25rem;
    box-shadow: rgba(6, 24, 44, 0.4) 0 0 0 2px,
                rgba(6, 24, 44, 0.65) 0 4px 6px -1px,
                rgba(255, 255, 255, 0.08) 0 1px 0 inset;
}

.die-group-update-form {
    display: flex;
    justify-content: center;
    width: 100%;
}

.die-group-control-box {
    align-items: center;
    display: flex;
    margin: .25rem 0 .25rem 0;
    justify-content: space-evenly;
    width: 95%;
    height: 100%;
}

.die-group-sum-box {
    display: flex;
    justify-content: center;
    min-width: 18%;
    max-width: 7rem;
    min-height: 3.2rem;
    font-size: 3rem;
    border-radius: .5rem;
    border: solid .2rem;
    padding: .5rem;
}

.die-group-add-die-open-form-btn {
    color: #ffffff;
    background-color: #00c6ff;
    border: 1px solid black;
    border-radius: .25rem;
    font-size: 2rem;
    width: 25%;
    max-width: 10rem;
    padding: 1.2rem .5rem;
}

.die-group-add-die-open-form-btn:active{
    transform: translate(2px, 3px);
}

.die-group-roll-all-form {
    width: 25%;
    max-width: 10rem;
}

.die-group-roll-all-btn {
    text-align: center;
    color: #ffffff;
    background-color: #00c400;
    border: 1px solid black;
    border-radius: .25rem;
    font-size: 2rem;
    width: 100%;
    padding: 1.2rem .5rem;
}

.die-group-roll-all-btn:active{
    transform: translate(2px, 3px);
}

.die-values-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.die-row {
    border-radius: .5rem;
    min-height: 6rem;
    display: flex;
    justify-content: space-between;
    width: 90%;
    border: ridge .5rem white;
    margin: .5rem 0 .5rem 0;
    padding: .5rem;
    background: linear-gradient(90deg,
                rgba(2,0,36,1) 0%,
                rgba(0,114,255,1) 35%,
                rgba(0,212,255,1) 100%)
}
.die-num-sides {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 25%;
    font-size: 3rem;
    color: #FFFFFF;
}

.die-rolled-value {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: .5rem;
    margin: .5rem;
    border: solid .2rem #FFFFFF;
    font-weight: 700;
    width: 25%;
    max-width: 15rem;
    font-size: 3rem;
    color: #FFFFFF;
}

.die-roll-btn {
    background-color: mintcream;
    padding: .5rem 1.5rem;
    height: 100%;
    border-radius: .25rem;
    font-size: 2rem;
}

.add-die-standard-input {
    text-align: center;
    border-radius: .5rem;
    font-size: 4rem;
    border: 1px solid #555;
    background:transparent;
    width: 75%;
    height: 75%;
    max-width: 15rem;
    padding: .5rem 0 .5rem 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0 30px 60px -12px inset,
                rgba(0, 0, 0, 0.3) 0 18px 36px -18px inset;
}

/*RESOURCE GROUPS*/

.resource-group-box {
    background-color: mintcream;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 1rem 0 1rem 0;
    min-width: 30rem;
    max-width: 45rem;
    width: 95%;
    border-radius: .25rem;
    box-shadow: rgba(6, 24, 44, 0.4) 0 0 0 2px,
                rgba(6, 24, 44, 0.65) 0 4px 6px -1px,
                rgba(255, 255, 255, 0.08) 0 1px 0 inset;
}

.resource-group-update-form {
    display: flex;
    justify-content: center;
    width: 100%;
}

.resource-group-control-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: .5rem 0 1rem 0;
    width: 95%;
    height: 100%;
}

.resource-group-add-resource-open-form-btn {
    text-align: center;
    color: #ffffff;
    background-color: #00c6ff;
    border: 1px solid black;
    border-radius: .25rem;
    font-size: 1.8rem;
    min-width: 35%;
    max-width: 10rem;
    padding: .3rem .75rem .3rem .75rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0 0.0625em 0.0625em,
                rgba(0, 0, 0, 0.25) 0 0.125em 0.5em,
                rgba(255, 255, 255, 0.1) 0 0 0 1px inset;
}

.resource-group-add-resource-open-form-btn:active{
    transform: translate(2px, 3px);
}

.resource-group-create-resource-standard-form {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resource-box {
    display: flex;
    flex-direction: column;
    width: 95%;
    border-radius: .25rem;
    margin: .25rem 0 .5rem 0;
    padding: .25rem .1rem;
    border: ridge .5rem white;
}

.resource-box-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: .1rem .25rem .1rem .25rem;
    justify-content: space-between;
}

.resource-name-box {
    align-self: flex-start;
    width: 50%;
    font-size: 2rem;
    margin: .25rem;
    color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: .5rem;
    border-radius: .25rem;
    background-color: #FF6200;
}

.resource-image-box {
    margin: .25rem;
    text-align: center;
    border-radius: .25rem;
    padding: .25rem;
    color: #e2e2e2;
    width: 30%;
    border: 1px solid black;
    background-color: #5f88a0;
}

.resource-name-input-wrapper {
    display: flex;
    align-self: flex-start;
    justify-content:center;
    margin: .25rem;
    align-items: center;
    width: 50%;
    background-color: #555555;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.resource-name-input {
    width: 100%;
    font-size: 2rem;
    color: #FFFFFF;
    border-radius: .25rem;
    background: transparent;
    padding: .5rem;
}

.resource-name-change-confirm-btn {
    margin: .25rem .5rem .5rem .5rem;
    padding: .2rem;
    height: 80%;
}
.resource-name-change-cancel-btn {
    margin: .25rem .5rem .5rem .5rem;
    padding: .2rem;
    height: 80%;
}

.resource-delete-button {
    margin-top: 2rem;
    width: 100%;
}

.resource-production-available-checkbox-wrapper {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.resource-production-available-checkbox {
    height: 60%;
    width: 60%;
}

.resource-qty-box {
    color: #FFFFFF;
    background-color: #4800FF;
    text-align: center;
    width: 44%;
    font-size: 2.25rem;
    margin: .5rem;
    padding: .5rem;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.resource-qty-input-hidden {
    position: absolute;
    visibility: hidden;
}

.resource-value-change {
    display: none;
    color: #00ff00;
    background-color: #555555;
    text-align: center;
    width: 44%;
    font-weight: 600;
    font-size: 2.25rem;
    margin: .5rem;
    padding: .5rem;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.resource-modifier-input-hidden {
    position: absolute;
    visibility: hidden;
}

.production-modifier-qty-box {
    text-align: center;
    width: 25%;
    font-size: 2rem;
    margin: .5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0 30px 60px -12px inset,
                rgba(0, 0, 0, 0.3) 0 18px 36px -18px inset;
    padding: .5rem;
    border-radius: .25rem;
    background-color: mintcream;
}

.production-modifier-value-change {
    display: none;
    color: #00ff00;
    text-align: center;
    width: 25%;
    font-size: 2rem;
    margin: .5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0 30px 60px -12px inset,
                rgba(0, 0, 0, 0.3) 0 18px 36px -18px inset;
    padding: .5rem;
    border-radius: .25rem;
    background-color: #555555;
}

.production-modifier-input-hidden {
    position: absolute;
    visibility: hidden;
}

.resource-change-amt-btn {
    font-size: 3rem;
    width: 20%;
    border-radius: .25rem;
    margin: .25rem;
}

.produce-single-resource-btn {
    font-size: 2rem;
    background-color: #00c400;
    color: mintcream;
}

.create-resource-name-input-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
}

.create-resource-name-input {
    text-align: center;
    border-radius: .5rem;
    font-size: 3rem;
    border: 1px solid #555;
    background:transparent;
    width: 100%;
    max-width: 40rem;
    padding: 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0 30px 60px -12px inset,
                rgba(0, 0, 0, 0.3) 0 18px 36px -18px inset;
}

.create-resource-name-input:focus {
    border: 1px solid #FFFFFF;
    outline: none;
}

/*GAME TIMERS*/

.game-timer-box {
    background-color: mintcream;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 1rem 0 1rem 0;
    min-width: 30rem;
    max-width: 45rem;
    width: 95%;
    border-radius: .25rem;
    box-shadow: rgba(6, 24, 44, 0.4) 0 0 0 2px,
                rgba(6, 24, 44, 0.65) 0 4px 6px -1px,
                rgba(255, 255, 255, 0.08) 0 1px 0 inset;
}

.game-timer-form {
    display: flex;
    justify-content: center;
    width: 100%;
}

.game-timer-control-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: .5rem 0 1rem 0;
    width: 90%;
    height: 100%;
}

.game-timer-control-box-btn {
    padding: .25rem;
    font-size: 3rem;
    width: 30%;
}

.game-timer-duration {
    font-size: 6rem;
    font-weight: 200;
}

/*SCORING GROUPS*/

.scoring-group-box {
    background-color: mintcream;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 1rem 0 1rem 0;
    min-width: 30rem;
    max-width: 45rem;
    width: 95%;
    border-radius: .25rem;
    box-shadow: rgba(6, 24, 44, 0.4) 0 0 0 2px,
                rgba(6, 24, 44, 0.65) 0 4px 6px -1px,
                rgba(255, 255, 255, 0.08) 0 1px 0 inset;
}

.scoring-group-form {
    display: flex;
    justify-content: center;
    width: 100%;
}

.scoring-group-control-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: .5rem 0 1rem 0;
    width: 90%;
    height: 100%;
}

.scoring-group-control-box-btn {
    text-align: center;
    margin: auto;
    color: #ffffff;
    background-color: #0072ff;
    border: 1px solid black;
    border-radius: .25rem;
    font-size: 1.8rem;
    min-width: 35%;
    max-width: 10rem;
    padding: .3rem .75rem .3rem .75rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0 0.0625em 0.0625em,
                rgba(0, 0, 0, 0.25) 0 0.125em 0.5em,
                rgba(255, 255, 255, 0.1) 0 0 0 1px inset;
}

.scoring-group-control-box-btn:active{
    transform: translate(2px, 3px);
}

.scoring-group-players-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 1rem 0;
}

.scoring-group-add-players-box {
    display: flex;
    flex-direction: column;
    width: 95%;
    border-radius: .25rem;
    padding: 1rem;
    border: ridge .5rem white;
}

.scoring-group-add-player-row {
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;
}

.scoring-group-add-player-checkbox {
    transform: scale(1.7);
}
.scoring-group-add-player-name {
    font-size: 2rem;
    margin: .5rem 0 .5rem 2.5rem;
}
.scoring-group-categories-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 1rem 0;
}
.create-scoring-category-input-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.create-scoring-category-input {
    text-align: center;
    border-radius: .5rem;
    font-size: 2rem;
    border: 1px solid #555;
    background:transparent;
    width: 100%;
    max-width: 40rem;
    padding: .5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0 30px 60px -12px inset,
                rgba(0, 0, 0, 0.3) 0 18px 36px -18px inset;
}

.create-scoring-category-input:focus {
    border: 1px solid #FFFFFF;
    outline: none;
}

.scoring-category-type-select {
    text-align: center;
    border-radius: .5rem;
    font-size: 2rem;
    border: 1px solid #555;
    background-color: mintcream;
    width: 90%;
    max-width: 40rem;
    margin: .5rem;
    padding: .25rem;
}
.scoring-category-box {
    display: flex;
    flex-direction: column;
    width: 95%;
    border-radius: .25rem;
    margin: .25rem 0 .5rem 0;
    padding: .25rem .1rem;
    border: ridge .5rem white;
}

.scoring-category-box-row {
    align-self: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 95%;
    padding: .1rem .5rem .1rem .5rem;
    justify-content: flex-start;
}

.scoring-category-box-title {
    font-size: 2rem;
    font-weight: 600;
}

.title-row {
    align-self: center;
    width: 90%;
    padding: 0 1.5rem;
    justify-content: space-between;
}

.scoring-category-text {
    font-size: 1.5rem;
    font-weight: 600;
}

.scoring-category-text-input-values {
    background-color: #777777;
    color: #FFFFFF;
    padding: .5rem .75rem;
    border-radius: .75rem;
    margin: 0 .5rem;
}

.rounding-info-box {
    justify-content: space-between;
    width: 95%;
    margin: auto;
}

.create-scoring-category-field-text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    width: 70%;
    font-size: 1.5rem;
    background-color: slategray;
    border-radius: .25rem;
    padding: .7rem;
}

.scoring-category-name-change-form {
    width: 70%;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: .5rem;
}
.scoring-category-name-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 2rem;
    color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: .25rem;
    background-color: #4800ff;
}

.scoring-category-name-box-disabled {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 2rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: .25rem;
    background-color: lightslategrey;
    color: #000000;

}

.scoring-category-name-input-wrapper {
    display: flex;
    align-self: flex-start;
    justify-content:center;
    margin: .25rem;
    align-items: center;
    width: 70%;
    background-color: #555555;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.scoring-category-name-input {
    text-align: center;
    width: 100%;
    font-size: 2rem;
    color: #FFFFFF;
    border-radius: .25rem;
    background: transparent;
    padding: .5rem;
}

.scoring-category-name-change-confirm-btn {
    margin: .25rem .5rem .5rem .5rem;
    padding: .2rem;
    height: 80%;
}
.scoring-category-name-change-cancel-btn {
    margin: .25rem .5rem .5rem .5rem;
    padding: .2rem;
    height: 80%;
}

.scoring-category-delete-button {
    margin-top: 2rem;
    width: 100%;
}

.scoring-category-score-box-input-wrapper {
    display: flex;
    justify-content: center;
    width: 95%;
}

.scoring-value-box-form {
    display: flex;
    justify-content: center;
    width: 30%;
}

.scoring-value-box-form.extended {
    height: 0;
    overflow: hidden;
    transition: all .3s ease-out;
    flex-direction: column;
    width: 100%;
}

.scoring-category-score-box {
    text-align: center;
    width: 90%;
    font-size: 2rem;
    margin: .5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0 30px 60px -12px inset,
                rgba(0, 0, 0, 0.3) 0 18px 36px -18px inset;
    padding: .5rem;
    border-radius: .25rem;
    background-color: mintcream;
}

.scoring-category-score-box.ipp {
    width: 25%;
}

.scoring-value-field-text {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    width: 70%;
    font-size: 1.5rem;
    background-color: #0072ff;
    border-radius: .25rem;
    padding: .7rem;
}

.scoring-value-field-text.secondary-text {
    justify-content: center;
    margin: auto;
    background-color: #555555;
    width: 90%;
}

.scoring-category-value-box-confirm-btn {
    padding: 0;
    margin: .5rem;
}

.scoring-category-value-box-cancel-btn {
    padding: 0;
    margin: .5rem;
}

.scoring-group-scores-wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.scoring-calc-row {
    width: 95%;
    display: flex;
    margin: .5rem;
    justify-content: space-between;
    align-items: center;
    padding: .2rem;
}

.player-name-row {
    padding: .5rem;
    width: 92%;
    border: ridge .5rem white;
    background: #555555;
    color: mintcream;
}

.score-calc-input-area-open-btn {
    width: 4rem;
    height: 4rem;
    border: 2px solid mintcream;
    color: mintcream;
    background: transparent;
    font-size: 3rem;
    border-radius: 1rem;
    padding: 0;
}

.score-calc-input-area-close-btn {
    width: 4rem;
    height: 4rem;
    border: 2px solid mintcream;
    color: mintcream;
    background: transparent;
    font-size: 3rem;
    border-radius: 1rem;
    padding: 0;
}

.score-calc-player-score-form {
    display: flex;
    justify-content: center;
    width: 35%;
}

.scoring-calc-name-text {
    font-size: 2rem;
    font-weight: 600;
}

.score-calc-score-value-box {
    border: 1px solid mintcream;
    text-align: center;
    width: 90%;
    font-size: 2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0 30px 60px -12px inset,
                rgba(0, 0, 0, 0.3) 0 18px 36px -18px inset;
    padding: .5rem;
    border-radius: .25rem;
}

.score-calc-input-area-wrapper {
    width: 95%;
}

.score-calc-category-name-text {
    font-size: 1.75rem;
}

.score-calc-input-box {
    text-align: center;
    font-size: 1.75rem;
    width: 35%;
}

/*DRAW BAGS*/
.draw-bag-box {
    background-color: mintcream;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 1rem 0 1rem 0;
    min-width: 30rem;
    max-width: 45rem;
    width: 95%;
    border-radius: .25rem;
    box-shadow: rgba(6, 24, 44, 0.4) 0 0 0 2px,
                rgba(6, 24, 44, 0.65) 0 4px 6px -1px,
                rgba(255, 255, 255, 0.08) 0 1px 0 inset;
}
.draw-bag-form {
    display: flex;
    justify-content: center;
    width: 100%;
}

.draw-bag-control-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: .5rem 0 1rem 0;
    width: 90%;
    height: 100%;
}

.draw-bag-control-box-btn {
    text-align: center;
    margin: auto;
    color: mintcream;
    background-color: #0072ff;
    border: 1px solid black;
    border-radius: .25rem;
    font-size: 1.8rem;
    min-width: 35%;
    max-width: 10rem;
    padding: .3rem .75rem .3rem .75rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0 0.0625em 0.0625em,
                rgba(0, 0, 0, 0.25) 0 0.125em 0.5em,
                rgba(255, 255, 255, 0.1) 0 0 0 1px inset;
}

.create-custom-object-form {
    display: flex;
    justify-content: center;
}
.draw-bag-item {
    display: flex;
    justify-content: center;
}
.draw-bag-items-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 1rem 0;
    min-height: 20rem;
}
.draw-bag-drawn-items-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 1rem 0;
    min-height: 20rem;
}
.draw-bag-draw-control-row {
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: .3rem;
}
.draw-bag-img-wrapper {
    width: 50%
}
.draw-bag-items-in-bag-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 1rem 0;
    min-height: 20rem;
}
.draw-bag-item-box {
    border: ridge .5rem white;
    width: 90%;
    padding: .5rem;
}
.draw-bag-item-box-title {
    font-size: 2rem;
    font-weight: 600;
}

.draw-bag-item-box-row {
    align-self: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 95%;
    padding: 0 1.5rem;
    justify-content: space-between;
}

.draw-bag-item-box-row-btn-wrapper {
    display: flex;
}

.draw-bag-status-text {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    border-radius: .5rem;
    padding: .75rem;
    background-color: #708090FF;
    color: mintcream;
    margin: 0 .5rem;
}

.img-placeholder {
    background: rgba(112, 128, 144, 0.5);
}

.draw-bag-item-action-btn {
    font-size: 1.5rem;
    border-radius: .5rem;
    padding: .75rem;
    background-color: #0072ff;
    color: mintcream;
    margin: 0 .5rem;
}

.draw-bag-item-img-small {
    width: 25%;
    border-radius: .5rem;
    border: 2px outset #FFFFFF;
}

.draw-bag-upload-canvas {
    width: 100%;
    border: 5px groove white;
    border-radius: .5rem;
    padding: 0;
    margin: 0;
}

.draw-bag-item-modal-wrapper {
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    width: 90%;
    max-width: 45rem;
    visibility: hidden;
    background-color: #555555;
    border-radius: .25rem;
    top: 15%;
}

.draw-bag-item-modal-img {
    max-width: 100%;
    max-height: 100%;
    margin: 1rem 0;
}

.draw-bag-item-modal-name-text {
    margin: .5rem;
    color: #FFFFFF;
    font-size: 2rem;;
}

/* Prevent Chrome from changing autofill text size to small */
input:-webkit-autofill::first-line {font-size: 2rem}

/* Prevent Chrome from adding yellow to autofilled fields */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: all 5000s ease-in-out 0s;
    transition-property: background-color, color;
}

/*Remove arrows/spinners from inputs*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

.flex-end {
    justify-content: flex-end;
}