{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block page_content %}

<div id="LoginPageWrapper" class="login-page-wrapper">
    <div class="login-header">
        <span class="login-header-text">Board Game Tools</span>
    </div>
    <div class="login-body">
        <div id="createUserFormWrapper" class="create-user-form-wrapper">
            <form action="{% url 'create_user' %}"
                  method="post" id=createUserForm class="create-user-form">
                {% csrf_token %}
                <span class="create-new-user-form-title">Create New Account</span>
                <input type="text" name="username" maxlength="20" autofocus="" autocomplete="username"
                       id="id_username" class="login-form-input create-user-input" required="" placeholder="username">

                <input type="email" name="email" maxlength="254" autocomplete="email"
                       id="id_email" class="login-form-input create-user-input" placeholder="email">

                <input type="password" name="password1" autocomplete="new-password"
                       id="id_password1" class="login-form-input create-user-input" required="" placeholder="password">

                <input type="password" name="password2" autocomplete="new-password"
                       id="id_password2" class="login-form-input" required="" placeholder="password confirmation">

                <div class="create-user-form-errors-wrapper create-user-input">
                    {% for field in create_user_form %}
                        {% for error in field.errors %}
                            <span class="create-user-form-field-error">{{ error }}</span>
                        {% endfor %}
                    {% endfor %}
                </div>
                <button type="submit" class="login-form-btn"
                        style="opacity: 1 !important;">submit
                </button>
                <input type="hidden" name="next" value="{{ next }}">
                <br />
            </form>
        </div>
    </div>

    <div class="login-footer">
    </div>

</div>



{% endblock page_content %}
