{% load static %}
{% load widget_tweaks %}
{% load method_override %}

{# Die Groups and Dice #}
<div id="dieGroupsViewWrapper" class="tool-body no-display">
    <div id="dieAddedSuccessMessageWrapper" class="message-wrapper"></div>
    {% for die_group in die_groups %}
        <div id="{{ die_group.id }}-dieGroupBox" class="die-group-box">
            <form method="POST"
                  action="{% url 'die_group_update_delete' die_group.id %}"
                  data-id="{{ die_group.id }}"
                  id="{{ die_group.id }}-dieGroupUpdateForm"
                  class="die-group-update-form">
                <div class="tool-title-box">
                    {% csrf_token %}
                    <div id="{{ die_group.id }}-dieGroupTitle" class="tool-title die-group-title" data-id="{{ die_group.id }}">
                        {{ die_group.title }}
                    </div>
                    <div id="{{ die_group.id }}-dieGroupTitleInput" class="tool-title no-display">
                        {{ die_group_form.title|add_class:"tool-title-input"}}
                    </div>
                </div>
            </form>
{# die group control box #}
            <div id="{{ die_group.id }}-controlValuesBox" class="die-group-control-box">
                <form method="GET"
                      action="{% url 'roll_die_group' die_group.id %}"
                      data-id="{{ die_group.id }}"
                      class="die-group-roll-all-form">
                    {% csrf_token %}
                    <button type="submit" class="die-group-roll-all-btn">roll all</button>
                </form>
                {% if die_group.group_dice_sum %}
                    <div id="{{ die_group.id }}-dieGroupSum" class="die-group-sum-box">{{ die_group.group_dice_sum }}</div>
                {% else %}
                    <div id="{{ die_group.id }}-dieGroupSum" class="die-group-sum-box"></div>
                {% endif %}
                <button data-id="{{ die_group.id }}" class="die-group-add-die-open-form-btn">+ dice</button>
            </div>
            <div id="{{ die_group.id }}-editValuesBox" class="die-group-control-box no-display">
                <button type="button" id="{{ die_group.id }}-cancelDieGroupTitleChangeBtn" class="cancel-change-btn"></button>
                <button type="submit"
                        form="{{ die_group.id }}-dieGroupUpdateForm"
                        id="{{ die_group.id }}-confirmDieGroupTitleChangeBtn"
                        class="confirm-change-btn">
                </button>
            </div>
{# delete die group form #}
            <form method="POST"
                  action="{% url 'die_group_update_delete' die_group.id %}"
                  id="{{ die_group.id }}-deleteToolForm"
                  class="delete-tool-form no-display">
                {% csrf_token %}
                {% method_override 'DELETE' %}
                <button id="{{ die_group.id }}-dieGroupDeleteBtn" class="delete-btn-large"></button>
            </form>
{# add new die form #}
            <div id="{{ die_group.id }}-dieGroupAddNewDieFormWrapper" class="create-new-object-form-wrapper no-display">
                <div class="form-title-box">
                    <span class="form-title-text">add a new die</span>
                </div>
                <form action="{% url 'die_standard_create' die_group.id %}"
                      method="POST" id="{{ die_group.id }}-dieGroupAddDieStandardForm" class="create-custom-object-form die">
                {% csrf_token %}
                <div class="create-object-form-row">
                    <div id="{{ die_group.id }}-addDieStandardNumSidesInputWrapper">
                        {{ die_standard_form.num_sides|add_class:"add-die-standard-input" }}
                    </div>
                    <button type="submit" class="blue-btn small">add die</button>
                </div>
                </form>
                <div class="form-title-box">
                    <span class="form-title-text">common dice</span>
                </div>
{# add common dice #}
               <div class="common-object-quick-add-btn-box" data-id="{{ die_group.id }}">
                   <div class="quick-add-item-row">
                       <button data-id="{{ die_group.id }}" data-num-sides="2" class="quick-die-create-btn coin"></button>
                       <button data-id="{{ die_group.id }}" data-num-sides="4" class="quick-die-create-btn D4"></button>
                       <button data-id="{{ die_group.id }}" data-num-sides="6" class="quick-die-create-btn D6"></button>
                   </div>
                   <div class="quick-add-item-row">
                       <button data-id="{{ die_group.id }}" data-num-sides="8" class="quick-die-create-btn D8"></button>
                       <button data-id="{{ die_group.id }}" data-num-sides="10" class="quick-die-create-btn D10"></button>
                       <button data-id="{{ die_group.id }}" data-num-sides="12" class="quick-die-create-btn D12"></button>
                   </div>
                   <div class="quick-add-item-row">
                        <button data-id="{{ die_group.id }}" data-num-sides="20" class="quick-die-create-btn D20"></button>
                   </div>
               </div>
               <br />
               <br />
               <button class="blue-btn small create-custom-object-form-done-btn die" data-id="{{ die_group.id }}">done</button>
            </div>
{# dice in die group #}
        {% for die in die_group.standard_dice.all %}
        <div id="{{ die.id }}-dieValuesBox" class="die-values-box">
            <div class="die-row" data-id="{{ die.id }}">
                <div class="die-num-sides">D{{ die.num_sides }}</div>
                <div id="{{ die.id }}-rolledValue" class="die-rolled-value {{ die_group.id }}">{{ die.rolled_value }}</div>
{# delete single die form#}
                <form method="POST"
                      action="{% url 'die_standard_delete' die.id %}"
                      data-id="{{ die_group.id }}"
                      class="delete-die-form no-display">
                    {% csrf_token %}
                    {% method_override 'DELETE' %}
                    <button class="red-btn small delete-btn-small"></button>
                </form>
{# roll single die #}
                <form method="GET"
                      action="{% url 'roll_die' die.id %}"
                      data-id="{{ die_group.id }}"
                      class="die-group-roll-die-form">
                    {% csrf_token %}
                    <button type="submit" class="die-roll-btn" data-id="{{ die.id }}">Roll</button>
                </form>
            </div>
        </div>
        {% empty %}
            <span class="large-text">add some dice!</span>
        {% endfor %}
    </div>
        {% empty %}
            <span class="large-text">no die collections yet</span>
        {% endfor %}
</div>