{% load static %}
{% load widget_tweaks %}

{# draw bags and draw bag items #}
<div id="drawBagPageSuccessMessageWrapper" class="message-wrapper"></div>
<div id="drawBagsViewWrapper" class="tool-body flex-start">
    {% for draw_bag in draw_bags %}
        <div class="draw-bag-box">
            <form method="POST" action="{% url 'draw_bag_title_update' draw_bag.id %}"
                  id="{{ draw_bag.id }}-drawBagForm"
                  data-id="{{ draw_bag.id }}"
                  class="draw-bag-form">
                {% csrf_token %}
                <div class="tool-title-box">
                    <div id="{{ draw_bag.id }}-drawBagTitle"
                         class="tool-title draw-bag-title">
                        {{ draw_bag.title }}
                    </div>
                    <div id="{{ draw_bag.id }}-drawBagTitleInput"
                         class="tool-title no-display">
                        {{ draw_bag_form.title|add_class:"tool-title-input"}}
                    </div>
                </div>
            </form>
{# draw bag control box #}
            <div class="draw-bag-control-box" data-id="{{ draw_bag.id }}">
                <button class="draw-bag-control-box-btn"
                        data-id="#{{ draw_bag.id }}-drawBagItemsWrapper">all items
                </button>
                <button class="draw-bag-control-box-btn"
                        data-id="#{{ draw_bag.id }}-drawBagDrawnItemsWrapper">drawn
                </button>
                <button class="draw-bag-control-box-btn"
                        data-id="#{{ draw_bag.id }}-drawBagItemsInBagWrapper">in bag
                </button>
                <button type="button"
                        id="{{ draw_bag.id }}-cancelDrawBagTitleChangeBtn"
                        class="cancel-change-btn">cancel
                </button>
                <button type="submit"
                        id="{{ draw_bag.id }}-confirmDrawBagTitleChangeBtn"
                        class="confirm-change-btn" form="{{ draw_bag.id }}-drawBagForm">ok
                </button>
            </div>
{# delete draw bag form #}
            <form id="{{ draw_bag.id }}-deleteToolForm"
                  class="delete-tool-form"
                  action="{% url 'draw_bag_delete' draw_bag.id %}?next={{ request.get_full_path }}"
                  method="POST">
                {% csrf_token %}
                <button id="{{ draw_bag.id }}-drawBagDeleteBtn"
                        class="delete-btn-large">delete this draw bag
                </button>
            </form>
{# create new draw bag items#}
        <div data-id="{{ draw_bag.id }}"
             id="{{ draw_bag.id }}-drawBagItemCreateFormWrapper"
             class="create-new-object-form-wrapper">
            <div class="form-title-box">
                <span class="form-title-text">create draw bag item</span>
            </div>
            <br />
            <input type="file" name="image" placeholder="draw bag image" maxlength="40"
                   autocomplete="off" accept="image/*" id="{{ draw_bag.id }}-id_image"
                   data-id="{{ draw_bag.id }}" onchange="handleDrawBagImage(this);">
            <form method="POST"
                  id="{{ draw_bag.id }}-drawBagItemCreateForm"
                  action="{% url 'draw_bag_item_create' draw_bag.id %}"
                  enctype='multipart/form-data'
                  data-id="{{ draw_bag.id }}"
                  class="{{ draw_bag.id }} create-custom-object-form draw-bag-item">
                {% csrf_token %}
                <div class="create-object-form-row">
                    <div id={{ draw_bag.id }}-drawBagItemCreateFormNameField
                         class="">
                        {{ draw_bag_item_create_form.name }}
                    </div>
                </div>
                <div class="create-object-form-row">
                    <div id={{ draw_bag.id }}-drawBagItemCreateFormImageField
                         class="">
                        <input type="file" name="image" placeholder="draw bag image" maxlength="40"
                               autocomplete="off" accept="image/*" id="{{ draw_bag.id }}-id_image"
                               data-id="{{ draw_bag.id }}" onchange="handleDrawBagImage(this);" hidden>

                        <canvas id="{{ draw_bag.id }}-imageCanvas" class="draw-bag-upload-canvas">CONTENT</canvas>
                    </div>
                </div>
                <br>
                <div class="create-object-form-row">
                    <button type="submit" class="blue-btn smaller">create</button>
                </div>
            </form>
            <button class="blue-btn smaller create-custom-object-form-done-btn draw_bag_item"
                    data-id="{{ draw_bag.id }}">done
            </button>
        </div>
{# display all items #}
        <div id="{{ draw_bag.id }}-drawBagItemsWrapper" class="draw-bag-items-wrapper  absolute-hidden">
            <button data-id="{{ draw_bag.id }}"
                    class="draw-bag-add-item-open-form-btn">+ draw bag item
            </button>
            <br />
            {% for draw_bag_item in draw_bag_items_sorted_by_name %}
                {% if draw_bag_item.group.id == draw_bag.id %}
                    <div class="draw-bag-item-box">
                        <div class="draw-bag-item-box-row">
                            <span class="draw-bag-item-box-title">{{ draw_bag_item.name }}</span>
                            <form method="POST"
                                  action="{% url 'draw_bag_item_delete' draw_bag_item.id %}?next={{ request.get_full_path }}"
                                  id="{{ draw_bag_item.id }}-deleteSingleDrawBagItemForm">
                                {% csrf_token %}
                                <button class="red-btn small">delete</button>
                            </form>
                        </div>
                        <hr style="width: 100%;">
                        <div class="draw-bag-item-box-row">
                            {% if draw_bag_item.image %}
                                <img src="{{ draw_bag_item.image.url }}"
                                     alt="item-image"
                                     class="draw-bag-item-img-small">
                            {% else %}
                                <span class="draw-bag-status-text img-placeholder">no img</span>
                            {% endif %}
                            <div class="draw-bag-item-box-row-btn-wrapper">
                                {% if draw_bag_item.drawn == True %}
                                    <span class="draw-bag-status-text">Drawn</span>
                                    <form method="GET"
                                          action="{% url 'draw_bag_item_return' draw_bag_item.id %}"
                                          id="{{ draw_bag_item.id }}-drawBagItemReturnForm"
                                          class="draw-bag-item-return-form"
                                          data-id="{{ draw_bag_item.id }}">
                                        <button class="draw-bag-item-action-btn">put back</button>
                                    </form>
                                {% elif draw_bag_item.drawn == False %}
                                    <span class="draw-bag-status-text">In Bag</span>
                                    <form method="GET"
                                          action="{% url 'draw_bag_item_draw' draw_bag_item.id %}"
                                          id="{{ draw_bag_item.id }}-drawBagItemDrawForm"
                                          class="draw-bag-item-draw-form"
                                          data-id="{{ draw_bag_item.id }}">
                                        <button class="draw-bag-item-action-btn">remove</button>
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% empty %}
                <span class="large-text"><i>add some items to the bag</i></span>
            {% endfor %}
        </div>
{# display only drawn items #}
        <div id="{{ draw_bag.id }}-drawBagDrawnItemsWrapper" class="draw-bag-drawn-items-wrapper">
            <div class="draw-bag-draw-control-row">
                <div class="draw-bag-img-wrapper">
                    <img src="" alt="image of draw bag" class="">
                </div>
                <form method="get"
                      action="{% url 'draw_bag_draw_random_item' draw_bag.id%}"
                      id="{{ draw_bag.id }}-drawBagDrawItemForm"
                      class="draw-bag-draw-item-form"
                      data-id="{{ draw_bag.id }}">
                    <button class="blue-btn">draw</button>
                </form>
                <form method="GET"
                      action="{% url 'draw_bag_reset' draw_bag.id %}"
                      id="{{ draw_bag.id }}-drawBagResetForm"
                      class="draw-bag-reset-form"
                      data-id="{{ draw_bag.id }}">
                    <button class="blue-btn">reset</button>
                </form>
            </div>
            <hr style="width: 90%;">
            {% for draw_bag_item in draw_bag.draw_bag_items.all %}
                {% if draw_bag_item.drawn == True %}
                    <div class="draw-bag-item-box">
                        <div class="draw-bag-item-box-row">
                            <span class="draw-bag-item-box-title">{{ draw_bag_item.name }}</span>
                        </div>
                    <hr style="width: 100%;">
                    <div class="draw-bag-item-box-row">
                        {% if draw_bag_item.image %}
                            <img src="{{ draw_bag_item.image.url }}"
                                 alt="item-image"
                                 class="draw-bag-item-img-small">
                        {% else %}
                            <span class="draw-bag-status-text" style="opacity: .5;">no image</span>
                        {% endif %}
                        <div class="draw-bag-item-box-row-btn-wrapper">
                            <span class="draw-bag-status-text">drawn</span>
                            <form method="GET"
                                  action="{% url 'draw_bag_item_return' draw_bag_item.id %}"
                                  id="{{ draw_bag_item.id }}-drawBagItemReturnForm"
                                  class="draw-bag-item-return-form"
                                  data-id="{{ draw_bag_item.id }}">
                                <button class="draw-bag-item-action-btn">put back</button>
                            </form>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% empty %}
                <span class="large-text"><i>add some items to the bag</i></span>
            {% endfor %}
        </div>
{# display only items still in the bag #}
        <div id="{{ draw_bag.id }}-drawBagItemsInBagWrapper" class="draw-bag-items-in-bag-wrapper absolute-hidden">
            <div class="draw-bag-draw-control-row">
                <div class="draw-bag-img-wrapper">
                    <img src="" alt="image of draw bag" class="">
                </div>
                <form method="GET"
                      action="{% url 'draw_bag_reset' draw_bag.id %}"
                      id="{{ draw_bag.id }}-drawBagResetForm"
                      class="draw-bag-reset-form"
                      data-id="{{ draw_bag.id }}">
                    <button class="blue-btn">reset</button>
                </form>
            </div>
            <hr style="width: 90%;">
            {% for draw_bag_item in draw_bag.draw_bag_items.all %}
                {% if draw_bag_item.drawn == False %}
                    <div class="draw-bag-item-box">
                        <div class="draw-bag-item-box-row title-row">
                            <span class="draw-bag-item-box-title">{{ draw_bag_item.name }}</span>
                        </div>
                    <hr style="width: 100%;">
                    <div class="draw-bag-item-box-row">
                        {% if draw_bag_item.image %}
                            <img src="{{ draw_bag_item.image.url }}"
                                 alt="item-image"
                                 class="draw-bag-item-img-small">
                        {% else %}
                            <span class="draw-bag-status-text" style="opacity: .5;">no image</span>
                        {% endif %}
                        <div class="draw-bag-item-box-row-btn-wrapper">
                            <span class="draw-bag-status-text">in bag</span>
                            <form method="GET"
                                  action="{% url 'draw_bag_item_draw' draw_bag_item.id %}"
                                  id="{{ draw_bag_item.id }}-drawBagItemDrawForm"
                                  class="draw-bag-item-draw-form"
                                  data-id="{{ draw_bag_item.id }}">
                                <button class="draw-bag-item-action-btn">remove</button>
                            </form>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% empty %}
                <span class="large-text"><i>add some items to the bag</i></span>
            {% endfor %}
        </div>
    </div>
    {% empty %}
        <span class="large-text"><i>no draw bags yet</i></span>
    {% endfor %}
</div>