{% load static %}
{% load widget_tweaks %}

{#Hp Trackers#}
<div id="HpTrackersViewWrapper" class="tool-body">
    {% for hp_tracker in hp_trackers %}
        <div class="hp-tracker-box">
            <form method="POST" action="{% url 'hp_tracker_update' hp_tracker.id %}" id="{{ hp_tracker.id }}-HpChangeValueForm" data-id="{{ hp_tracker.id }}" class="hp-change-value-form">
                {% csrf_token %}
                <div class="tool-title-box">
                    <div id="{{ hp_tracker.id }}-HpTrackerTitle" class="hp-tracker-title">{{ hp_tracker.title }}</div>
                    <div id="{{ hp_tracker.id }}-HpTrackerTitleInput" class="tool-title no-display">
                        {{ hp_change_value_form.title|add_class:"tool-title-input"}}
                    </div>
                </div>
                <div class="hp-tracker-control-box">
                    <button type="button" id="{{ hp_tracker.id }}-CancelHpTitleChangeBtn" class="cancel-change-btn">cancel</button>
                    <button type="button" id="{{ hp_tracker.id }}-HpValueDecreaseBtn" class="hp-value-change-btn decrease disable-double-tap-to-zoom">-</button>
                    <div id="{{ hp_tracker.id }}-HpValue" class="hp-value">{{ hp_tracker.hp_value }}</div>
                    <div id="{{ hp_tracker.id }}-HpValueInput" class="hp-value-input-hidden">{{ hp_change_value_form.hp_value }}</div>
                    <div id="{{ hp_tracker.id }}-HpValueChangeCover" class="hp-value hp-change-value-cover"></div>
                    <div id="{{ hp_tracker.id }}-HpValueChange" class="hp-change-value"></div>
                    <button type="button" id="{{ hp_tracker.id }}-HpValueIncreaseBtn" class="hp-value-change-btn increase disable-double-tap-to-zoom">+</button>
                    <button type="submit" id="{{ hp_tracker.id }}-ConfirmHpTitleChangeBtn" class="confirm-change-btn">ok</button>
                </div>
            </form>
        <form action="{% url 'hp_tracker_delete' hp_tracker.id %}?next={{ request.get_full_path }}" method="POST" class="delete-tool-form">
        {% csrf_token %}
            <button id="{{ hp_tracker.id }}-HpTrackerDeleteBtn" class="delete-btn-large">delete this tracker</button>
        </form>
        </div>
    {% empty %}
        <span class="large-text"><i>no hp trackers yet</i></span>
    {% endfor %}
</div>