{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block body_class %}user_home{% endblock body_class %}

{% block page_content %}
{% for message in messages %}
    {% if message.tags == error %}
        <div class="message-box error fade_out">{{ message }}</div>
    {% else %}
        <div class="message-box info fade_out">{{ message }}</div>
    {% endif %}
{% endfor %}
<div id="UserAccountWrapper" class="user-account-wrapper">
    <div class="user-account-header">
        <a href="{% url 'user_home' %}" class="account-back-btn"></a>
    </div>
<div class="user-account-body">
    <div id="accountInfoBox" class="account-info-box">
        <span style="font-size: 1.75rem" class="form-title-text">Your password has been changed</span>
    </div>
</div>
{% endblock %}