{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block body_class %}user_home{% endblock body_class %}

{% block page_content %}
{% for message in messages %}
    {% if message.tags == error %}
        <div class="message-box error fade_out">{{ message }}</div>
    {% else %}
        <div class="message-box info fade_out">{{ message }}</div>
    {% endif %}
{% endfor %}
<div id="UserAccountWrapper" class="user-account-wrapper">
    <div class="user-account-header">
        <a href="{% url 'user_home' %}" class="account-back-btn"></a>
    </div>
<div class="user-account-body">
    <div id="accountInfoBox" class="account-info-box">
        <form method="post" class="centered-flex-column">
            {% csrf_token %}
            <input id="id_old_password" type="password" name="old_password" autocomplete="current-password"
                   class="login-form-input" placeholder="current password" autofocus required>


            <input id="id_new_password1" type="password" name="new_password1" autocomplete="new-password"
                   class="login-form-input" placeholder="new password" required>


            <input id="id_new_password2" type="password" name="new_password2" autocomplete="new-password"
                   class="login-form-input" placeholder="confirm new password" required>
        <br>
        <button type="submit" class="blue-btn create-form-btn">Change Password</button>
        </form>
    </div>
</div>
{% endblock %}