{% load static %}
{% load widget_tweaks %}

{# players #}
<div id="playerPageSuccessMessageWrapper" class="message-wrapper"></div>
<div id="playersViewWrapper" class="tool-body">
    {% if players %}
        <div class="players-box-wrapper">
            <div class="players-control-box">
                {% if players %}
                    <a href="{% url 'player_randomize_order' %}?next={{ request.get_full_path }}">
                        <button class="blue-btn">Randomize</button>
                    </a>
                {% endif %}
            </div>
            {% for player in players %}
                <div class="player-box">
                    <div class="player-box-row">
                        <span class="player-name-text">{{ forloop.counter }}&nbsp;|&nbsp;{{ player.name }}</span>
                    </div>
                    <br>
                    <div class="player-box-row">
                        <form method="POST"
                              action="{% url 'player_delete' player.id %}?next={{ request.get_full_path }}"
                              id="{{ scoring_category.id }}-deletePlayerForm"
                              style="margin-left: auto;">
                            {% csrf_token %}
                            <button class="red-btn small delete-btn-small"></button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <span class="large-text">add some players!</span>
    {% endif %}
</div>