{% load static %}
{% load widget_tweaks %}
{% load method_override %}

{# players #}
<div id="playerPageSuccessMessageWrapper" class="message-wrapper"></div>
<div id="playersViewWrapper" class="tool-body no-display">
    {% if players %}
        <div id="playersBoxWrapper" class="players-box-wrapper">
            <div class="players-control-box">
                {% if players %}
                    <form method="GET"
                          action="{% url 'player_randomize_order'%}"
                          id="#randomizePlayerOrderForm"
                          class='randomize-player-order-form'>
                        {% csrf_token %}
                        <button class="blue-btn">Randomize</button>
                    </form>
                {% endif %}
            </div>
            {% for player in players %}
                <div class="player-box">
                    <div class="player-box-row">
                        {% if player.name %}
                            <span class="player-name-text">{{ forloop.counter }}&nbsp;|&nbsp;{{ player.name }}</span>
                        {% else %}
                            <span class="player-name-text">{{ forloop.counter }}&nbsp;|&nbsp;<i>no name</i></span>
                        {% endif %}
                    </div>
                    <br>
                    <div class="player-box-row">
                        <form method="POST"
                              action="{% url 'player_update_delete' player.id %}"
                              id="{{ scoring_category.id }}-deletePlayerForm"
                              data-id="{{ player.id }}"
                              class="delete-player-form"
                              style="margin-left: auto;">
                            {% csrf_token %}
                            {% method_override 'DELETE' %}
                            <button class="red-btn small delete-btn-small"></button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <span class="large-text">add some players!</span>
    {% endif %}
</div>