{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block page_content %}

<div id="LoginPageWrapper" class="login-page-wrapper">
    <div class="login-header">
        <span class="login-header-text">Board Game Tools</span>
    </div>
    <div class="login-body">
        <div class="message-wrapper login-page-messages">
            {% for message in messages %}
                <div class="message-box success fade_out">{{ message }}</div>
            {% endfor %}
        </div>
        <div id="LoginFormWrapper" class="login-form-wrapper">
            <div class="login-form">
                <span class="login-form-title">Check your inbox</span>
                <p class="password-reset-text">We've emailed you instructions for resetting your password. You should receive the email shortly.</p>
                <br />
                <a href="{% url 'login' %}" class="small-text-link">return to login</a>
                <br />
            </div>
        </div>
    </div>
</div>

{% endblock page_content %}