{% load static %}
{% load widget_tweaks %}
{% load method_override %}

{# resource groups and resources #}
<div id="resourceCreatedSuccessMessageWrapper" class="message-wrapper"></div>
<div id="resourceGroupsViewWrapper" class="tool-body no-display">
    {% for resource_group in resource_groups %}
    <div id="{{ resource_group.id }}-resourceGroupBox"
         class="resource-group-box">
        <form method="POST" action="{% url 'resource_group_update_delete' resource_group.id %}"
              id="{{ resource_group.id }}-resourceGroupUpdateForm"
              data-id="{{ resource_group.id }}"
              class="resource-group-update-form">
            <div class="tool-title-box">
                {% csrf_token %}
                <div id="{{ resource_group.id }}-resourceGroupTitle"
                     data-id="{{ resource_group.id }}"
                     class="tool-title resource-group-title">{{ resource_group.title }}
                </div>
                <div id="{{ resource_group.id }}-resourceGroupTitleInput"
                     class="tool-title no-display">{{ resource_group_form.title|add_class:"tool-title-input"}}
                </div>
            </div>
        </form>
{# resource group control box #}
        <div id="{{ resource_group.id}}-controlValuesBox" class="resource-group-control-box">
            <button data-id="{{ resource_group.id }}"
                    class="resource-group-add-resource-open-form-btn open-create-item-form-btn">
            </button>
        </div>
        <div id="{{ resource_group.id }}-editValuesBox" class="resource-group-control-box no-display">
            <button type="button"
                    id="{{ resource_group.id }}-cancelResourceGroupTitleChangeBtn"
                    class="cancel-change-btn">
            </button>
            <button type="submit"
                    form="{{ resource_group.id }}-resourceGroupUpdateForm"
                    id="{{ resource_group.id }}-confirmResourceGroupTitleChangeBtn"
                    class="confirm-change-btn">
            </button>
        </div>
{# delete resource group form #}
        <form action="{% url 'resource_group_update_delete' resource_group.id %}"
              method="POST"
              id="{{ resource_group.id }}-deleteToolForm"
              class="delete-tool-form no-display">
            {% csrf_token %}
            {% method_override 'DELETE' %}
            <button id="{{ resource_group.id }}-resourceGroupDeleteBtn" class="delete-btn-large"></button>
        </form>
{# add new resource form #}
            <div id="{{ resource_group.id }}-resourceGroupCreateResourceFormWrapper"
                 class="create-new-object-form-wrapper no-display">
                <div class="form-title-box">
                    <span class="form-title-text">create resource</span>
                </div>
                <form action="{% url 'resource_create' resource_group.id %}"
                      method="POST"
                      id="{{ resource_group.id }}-resourceGroupCreateResourceForm"
                      class="create-custom-object-form resource">
                    {% csrf_token %}
                    <div class="create-object-form-row">
                        <div id={{ resource_group.id }}-createResourceNameField class="create-resource-name-input-wrapper">
                            {{ resource_form.name|add_class:"create-resource-name-input" }}
                        </div>
                    </div>
                    <div class="create-object-form-row">
                        <div id="{{ resource.id }}-resourceProductionAvailableCheckbox"
                             class="resource-production-available-checkbox-wrapper">
                            {{ resource_form.production_available|add_class:"resource-production-available-checkbox" }} enable production
                        </div>
                        <button type="submit" class="blue-btn small">create</button>
                    </div>
                    <div id="{{ resource_group.id }}-createResourceImageNameInputWrapper" class="no-display">
                        {{ resource_form.image_name }}
                    </div>
                </form>
                <hr style="width:90%;">
                <br />
{# select resource icon #}
               <div class="common-object-quick-add-btn-box" data-id="{{ resource_group.id }}">
                   <div class="quick-add-item-row">
                       <button id="{{ resource_group.id }}-moneyIcon"
                               data-name="money" class="resource-icon-select-btn money">
                       </button>
                       <button id="{{ resource_group.id }}-woodIcon"
                               data-name="wood" class="resource-icon-select-btn wood">
                       </button>
                       <button id="{{ resource_group.id }}-moneyIcon"
                               data-name="food" class="resource-icon-select-btn food">
                       </button>
                   </div>
                   <div class="quick-add-item-row">
                       <button id="{{ resource_group.id }}-foodIcon"
                               data-name="brick" class="resource-icon-select-btn brick">
                       </button>
                       <button id="{{ resource_group.id }}-clothIcon"
                               data-name="cloth" class="resource-icon-select-btn cloth">
                       </button>
                       <button id="{{ resource_group.id }}-animalIcon"
                               data-name="animal" class="resource-icon-select-btn animal">
                       </button>
                   </div>
                   <div class="quick-add-item-row">
                       <button id="{{ resource_group.id }}-stoneIcon"
                               data-name="stone" class="resource-icon-select-btn stone">
                       </button>
                       <button id="{{ resource_group.id }}-strengthIcon"
                               data-name="strength" class="resource-icon-select-btn strength">
                       </button>
                       <button id="{{ resource_group.id }}-defenseIcon"
                               data-name="animals" class="resource-icon-select-btn defense">
                       </button>
                   </div>
                   <div class="quick-add-item-row">
                       <button id="{{ resource_group.id }}-energyIcon"
                               data-name="energy" class="resource-icon-select-btn energy">
                       </button>
                       <button id="{{ resource_group.id }}-scienceIcon"
                               data-name="science" class="resource-icon-select-btn science">
                       </button>
                       <button id="{{ resource_group.id }}-wineIcon"
                               data-name="wine" class="resource-icon-select-btn wine">
                       </button>
                   </div>
                   <div class="quick-add-item-row">
                       <button id="{{ resource_group.id }}-populationIcon"
                               data-name="population" class="resource-icon-select-btn population">
                       </button>
                       <button id="{{ resource_group.id }}-wavesIcon"
                               data-name="waves" class="resource-icon-select-btn waves">
                       </button>
                       <button id="{{ resource_group.id }}-spaceIcon"
                               data-name="space" class="resource-icon-select-btn space">
                       </button>
                   </div>
               </div>
               <br />
               <br />
               <button class="blue-btn small create-custom-object-form-done-btn resource"
                       data-id="{{ resource_group.id }}">done
               </button>
            </div>
{# user's resources #}
        {% for resource in resource_group.resources.all %}
            <div id="{{ resource.id }}-resourceBox" class="resource-box">
                <form action="{% url "resource_update_delete" resource.id %}"
                      method="POST"
                      data-id="{{ resource.id }}"
                      id={{ resource.id }}-resourceNameChangeForm"
                      class="resource-name-change-form">
                    {% csrf_token %}
                    <div class="resource-box-row">
                        <div data-id="{{ resource.id }}"
                             id="{{ resource.id }}-resourceName"
                             class="resource-name-box">{{ resource.name }}
                        </div>
                        <div id="{{ resource.id }}-resourceNameInputWrapper"
                             class="resource-name-input-wrapper fixed-hidden">
                            {{ resource_form.name|add_class:"resource-name-input" }}
                        </div>
                            <img src="{% static 'images/resources/' %}{{ resource.image_name }}.svg" alt="no image"
                                 id="{{ resource.id }}-resourceImageBox"
                                 class="resource-image-box">
                        <button type="submit"
                                data-id="{{ resource.id }}"
                                id="{{ resource.id }}-confirmChangeBtn"
                                class="confirm-change-btn resource-name-change-confirm-btn no-display">
                        </button>
                        <button type="button"
                                data-id="{{ resource.id }}"
                                id="{{ resource.id }}-cancelChangeBtn"
                                class="cancel-change-btn resource-name-change-cancel-btn no-display">
                        </button>
                    </div>
{# these form fields are populated in bgt.js so the form is complete when submitting a resource name change #}
{#                    <div id="{{ resource.id }}-nameChangeResourceImageNameInputWrapper"#}
{#                         data-input="{{ resource.image_name }}"#}
{#                         class="no-display">#}
{#                        {{ resource_form.image_name }}#}
{#                    </div>#}
                    <div id="{{ resource.id }}-nameChangeResourceQtyInputWrapper"
                         data-input="{{ resource.quantity }}"
                         class="no-display">{{ resource_form.quantity }}
                    </div>
                    {% if resource.production_available %}
                        <div id="{{ resource.id }}-nameChangeResourceProdAvailableInputWrapper"
                             class="no-display">{{ resource_form.production_available }}
                        </div>
                        <div id="{{ resource.id }}-nameChangeResourceProdModifierInputWrapper"
                         data-input="{{ resource.production_modifier }}"
                             class="no-display">{{ resource_form.production_modifier }}
                        </div>
                    {% endif %}
                </form>
{# display and update resource quanity #}
                <form action="{% url "resource_update_delete" resource.id %}"
                      method="POST"
                      data-id="{{ resource.id }}"
                      id={{ resource.id }}-resourceQtyChangeForm"
                      class="resource-qty-change-form">
                    {% csrf_token %}
                    <div class="resource-box-row">
                        <Button type="button"
                                data-id="{{ resource.id }}"
                                class="resource-change-amt-btn resource-decrease disable-double-tap-to-zoom">-
                        </Button>
                        <div id="{{ resource.id }}-resourceValueChange" class="resource-value-change"></div>
                        <div id="{{ resource.id }}-resourceQtyInput" class="resource-qty-input-hidden">
                            {{ resource_form.quantity }}
                        </div>
                        <div id="{{ resource.id }}-resourceQtyBox" class="resource-qty-box">
                            {{ resource.quantity }}
                        </div>
                        <Button type="button"
                                data-id="{{ resource.id }}"
                                class="resource-change-amt-btn resource-increase disable-double-tap-to-zoom">+
                        </Button>
                    </div>
{# these form fields are populated in bgt.js so the form is complete when submitting a resource name change#}
                    <div id="{{ resource.id }}-qtyChangeResourceNameInputWrapper"
                         data-input="{{ resource.name }}"
                         class="fixed-hidden">{{ resource_form.name}}
                    </div>
                    {% if resource.production_available %}
                        <div id="{{ resource.id }}-qtyChangeResourceProdAvailableInputWrapper"
                             class="fixed-hidden">{{ resource_form.production_available }}
                        </div>
                        <div id="{{ resource.id }}-qtyChangeResourceProdModifierInputWrapper"
                             data-input="{{ resource.production_modifier }}"
                             class="fixed-hidden">{{ resource_form.production_modifier }}
                        </div>
                    {% endif %}
                </form>
{# production section - only shown if production is available for the resource#}
                {% if resource.production_available %}
                <form action="{% url "resource_update_delete" resource.id %}"
                      method="POST" data-id="{{ resource.id }}"
                      id={{ resource.id }}-resourceProductionModifierChangeForm"
                      class="resource-production-modifier-change-form">
                    {% csrf_token %}
                    <div class="resource-box-row">
                        <Button type="button"
                                data-id="{{ resource.id }}"
                                class="resource-change-amt-btn modifier-decrease disable-double-tap-to-zoom">-
                        </Button>
                        <div id="{{ resource.id }}-productionModifierValueChange"
                             class="production-modifier-value-change"></div>
                        <div id="{{ resource.id }}-productionModifierQtyBox"
                             class="production-modifier-qty-box">
                            {{ resource.production_modifier }}
                        </div>
                        <div id="{{ resource.id }}-productionModifierQtyInput"
                             class="production-modifier-input-hidden">
                            {{ resource_form.production_modifier }}
                        </div>
                        <Button type="button"
                                data-id="{{ resource.id }}"
                                class="resource-change-amt-btn modifier-increase disable-double-tap-to-zoom">+
                        </Button>
                        <Button type="button"
                                form="{{ resource.id }}-produceResourceForm"
                                class="resource-change-amt-btn produce-single-resource-btn">prod
                        </Button>
                    </div>
{# these form fields are populated in bgt.js so the form is complete when submitting a resource name change #}
                    <div id="{{ resource.id }}-prodChangeResourceNameInputWrapper"
                         data-input="{{ resource.name }}"
                         class="no-display">{{ resource_form.name}}
                    </div>
                    <div id="{{ resource.id }}-prodChangeResourceProdAvailableInputWrapper"
                         class="no-display">{{ resource_form.production_available }}
                    </div>
                    <div id="{{ resource.id }}-prodChangeResourceQtyInputWrapper"
                         data-input="{{ resource.quantity}}"
                         class="no-display">{{ resource_form.quantity }}
                    </div>
                </form>
                <form action="{% url 'resource_update_delete' resource.id%}"
                      method="POST"
                      data-id="{{ resource.id }}"
                      id="{{ resource.id }}-produceResourceForm"
                      class="produce-resource-form">
                    {% csrf_token %}
                    <div id="{{ resource.id }}-newResourceQtyInput">
                        {{ resource_form.quantity|add_class:"fixed-hidden" }}
                    </div>
{# these form fields are populated in bgt.js so the form is complete when submitting a resource name change #}
                    <div id="{{ resource.id }}-produceResourceNameInputWrapper"
                         data-input="{{ resource.name }}"
                         class="fixed-hidden">{{ resource_form.name }}
                    </div>
                    <div id="{{ resource.id }}-produceResourceProdAvailableInputWrapper"
                         class="fixed-hidden">{{ resource_form.production_available }}
                    </div>
                </form>
                {% endif %}
                <div class="resource-box-row">
                    <button form="{{ resource.id }}-deleteResourceForm"
                            id="{{ resource.id }}-resourceDeleteButton"
                            class="delete-btn-large resource-delete-button no-display">
                    </button>
{# delete single resource #}
                    <form method="POST"
                          action="{% url 'resource_update_delete' resource.id %}"
                          data-id="{{ resource_group.id }}"
                          id="{{ resource.id }}-deleteResourceForm"
                          class="delete-resource-form">
                        {% csrf_token %}
                        {% method_override 'DELETE' %}
                    </form>
                </div>
            </div>
        {% empty %}
            <span class="large-text">add some resources</span>
        {% endfor %}
    </div>
    {% empty %}
    <span class="large-text">no resources collections, create some from the menu</span>
    {% endfor %}
</div>