{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block body_class %}tool_session_detail{% endblock body_class %}

{% block page_content %}
{#Tool selection menu and buttons to open various forms to add tools#}
<div id="ToolSelectionMenu">
    <div id="AddNewToolsMenu">
        <div class="tools-menu-header">Add New Tools
        </div>
{#        This covers the buttons in the tool selection menu when a form is open#}
        <div id="ToolSelectionMenuCover"></div>
        <div class="add-tools-btn-row">
            <button id="AddHpTrackerOpenFormBtn" class="add-tool-button">ADD HP TRACKER</button>
            <button id="AddResourceProductionTrackerOpenFormBtn" class="add-tool-button">Add Production Tracker</button>
            <button id="AddDieGroupOpenFormBtn" class="add-tool-button">Add Die Group</button>
        </div>
        <div class="add-tools-btn-row">
            <button id="AddScoringCalculatorOpenFormBtn" class="add-tool-button">Add Scoring Calculator</button>
            <button id="AddTimerOpenFormBtn" class="add-tool-button">Add Game Timer</button>
        </div>

{# Forms for adding tools to the tool session#}
{#Add Hp Tracker Form#}
        <div id="AddHpTrackerFormWrapper" class="add-hp-tracker-form-wrapper">
            <div class="form-title-box">
                <span class="form-title-text">Add HP Tracker</span>
            </div>
                <br />
            <form method="POST" id="AddHpTrackerForm"
                  action="{% url 'add_hp_tracker' %}"
                  class="add-new-tool-form">
                {% csrf_token %}
                <br />
                {{ add_hp_tracker_form.title|add_class:'text-input-large' }}
                <br />
                {{ add_hp_tracker_form.hp_value|add_class:'text-input-large' }}
                <br />
                <button id="AddHpTrackerFormSubmitBtn" type="submit" class="blue-btn">Add</button>
                <button id="AddHpTrackerFormCancelBtn" type="button" class="red-btn">Cancel</button>
            </form>
        </div>
{#Add Die Group Form#}
        <div id="AddDieGroupFormWrapper" class="add-die-group-form-wrapper">
            <div class="form-title-box">
                <span class="form-title-text">Add Die Group</span>
            </div>
                <br />
            <form method="POST" id="AddDieGroupForm"
                  action="{% url 'add_die_group' %}"
                  class="add-new-tool-form">
                {% csrf_token %}
                <br />
                {{ die_group_form.title|add_class:'text-input-large' }}
                <br />
                {{ die_group_form.hp_value|add_class:'text-input-large' }}
                <br />
                <button id="AddDieGroupFormSubmitBtn" type="submit" class="blue-btn">Add</button>
                <button id="AddDieGroupFormCancelBtn" type="button" class="red-btn">Cancel</button>
            </form>
        </div>
    </div>

{#Buttons for selecgint active tools#}
    <div id="SelectActiveToolMenu">
        <div class="tools-menu-header">Select Active Tool
        </div>
        <div class="select-active-tool-btn-row">
            <button id="OpenHpTrackersBtn"
                    class="select-active-tool-button {% if hp_trackers %}button-visible{% endif %}">HP Trackers</button>
            <button id="OpenDieGroupsBtn"
                    class="select-active-tool-button {% if die_groups %}button-visible{% endif %}">Die Groups</button>
            <button id="OpenProductionTrackersBtn" class="select-active-tool-button">Production Trackers</button>
        </div>
        <div class="select-active-tool-btn-row">
            <button id="OpenScoringCalculatorBtn" class="select-active-tool-button">Scoring Calculator</button>
            <button id="OpenGameTimersBtn" class="select-active-tool-button">GameTimers</button>
        </div>
    </div>
    <div class="tool-selection-menu-footer">
        <div id="CloseToolSelectionMenuBtn" class="arrow-up"></div>
    </div>
</div>
<div id="ToolSessionPageHeader" class="tool-session-page-header">
    <div id=OpenToolSelectionMenuBtn class="arrow-down"></div>
</div>

{#Tool views#}
<div id="ToolSessionPageWrapper">
    <div class="tool-session-page-body">
{#Hp Trackers#}
        <div id="HpTrackersViewWrapper" class="tool-body">
            {% for hp_tracker in hp_trackers %}
                <div class="hp-tracker-box">
                    <form method="POST" action="{% url 'hp_tracker_update' hp_tracker.id %}" id="{{ hp_tracker.id }}-HpChangeValueForm" data-id="{{ hp_tracker.id }}" class="hp-change-value-form">
                        {% csrf_token %}
                        <div class="hp-tracker-title-box">
                            <div id="{{ hp_tracker.id }}-HpTrackerTitle" class="hp-tracker-title">{{ hp_tracker.title }}</div>
                            <div id="{{ hp_tracker.id }}-HpTrackerTitleInput" class="hp-tracker-title hidden">
                                {{ hp_change_value_form.title|add_class:"hp-tracker-title-input"}}
                            </div>
                        </div>
                        <div class="hp-control-box">
                            <button type="button" id="{{ hp_tracker.id }}-CancelHpTitleChangeBtn" class="cancel-hp-title-change-btn">&#10006;</button>
                            <button type="button" id="{{ hp_tracker.id }}-HpValueDecreaseBtn" class="hp-value-change-btn decrease">-</button>
                            <div id="{{ hp_tracker.id }}-HpValue" class="hp-value">{{ hp_tracker.hp_value }}</div>
                            <div id="{{ hp_tracker.id }}-HpValueInput">{{ hp_change_value_form.hp_value }}</div>
                            <div id="{{ hp_tracker.id }}-HpValueChangeCover" class="hp-value hp-change-value-cover"></div>
                            <div id="{{ hp_tracker.id }}-HpValueChange" class="hp-value hp-change-value"></div>
                            <button type="button" id="{{ hp_tracker.id }}-HpValueIncreaseBtn" class="hp-value-change-btn increase">+</button>
                            <button type="submit" id="{{ hp_tracker.id }}-ConfirmHpTitleChangeBtn" class="confirm-hp-title-change-btn confirm-check">&#10004;</button>
                        </div>
                    </form>
                <form action="{% url 'hp_tracker_delete' hp_tracker.id %}?next={{ request.get_full_path }}" method="POST">
                {% csrf_token %}
                    <button id="{{ hp_tracker.id }}-HpTrackerDeleteBtn" class="hp-tracker-delete-btn">Press Here to Delete</button>
                </form>
                </div>
            {% endfor %}
        </div>

{#Die Groups and Dice#}
        <div id="DieGroupsViewWrapper" class="tool-body">
            {% for die_group in die_groups %}
                <div class="die-group-box">
                <div class="die-group-title-box">
                    <button>Roll All</button>
                    <div class="die-group-title">{{ die_group.title }}</div>
                    <button>Add Die</button>
                </div>

{#                    <form method="POST" action="{% url 'hp_tracker_update' hp_tracker.id %}" id="{{ hp_tracker.id }}-HpChangeValueForm" data-id="{{ hp_tracker.id }}" class="hp-change-value-form">#}
{#                        {% csrf_token %}#}
{#                        <div class="hp-tracker-title-box">#}
{#                            <div id="{{ hp_tracker.id }}-HpTrackerTitle" class="hp-tracker-title">{{ hp_tracker.title }}</div>#}
{#                            <div id="{{ hp_tracker.id }}-HpTrackerTitleInput" class="hp-tracker-title hidden">#}
{#                                {{ hp_change_value_form.title|add_class:"hp-tracker-title-input"}}#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="hp-control-box">#}
{#                            <button type="button" id="{{ hp_tracker.id }}-CancelHpTitleChangeBtn" class="cancel-hp-title-change-btn">&#10006;</button>#}
{#                            <button type="button" id="{{ hp_tracker.id }}-HpValueDecreaseBtn" class="hp-value-change-btn decrease">-</button>#}
{#                            <div id="{{ hp_tracker.id }}-HpValue" class="hp-value">{{ hp_tracker.hp_value }}</div>#}
{#                            <div id="{{ hp_tracker.id }}-HpValueInput">{{ hp_change_value_form.hp_value }}</div>#}
{#                            <div id="{{ hp_tracker.id }}-HpValueChangeCover" class="hp-value hp-change-value-cover"></div>#}
{#                            <div id="{{ hp_tracker.id }}-HpValueChange" class="hp-value hp-change-value"></div>#}
{#                            <button type="button" id="{{ hp_tracker.id }}-HpValueIncreaseBtn" class="hp-value-change-btn increase">+</button>#}
{#                            <button type="submit" id="{{ hp_tracker.id }}-ConfirmHpTitleChangeBtn" class="confirm-hp-title-change-btn confirm-check">&#10004;</button>#}
{#                        </div>#}
{#                    </form>#}
{#                </div>#}
{#                <form action="{% url 'hp_tracker_delete' hp_tracker.id %}?next={{ request.get_full_path }}" method="POST">#}
{#                {% csrf_token %}#}
{#                    <button id="{{ hp_tracker.id }}-HpTrackerDeleteBtn" class="hp-tracker-delete-btn">Press Here to Delete</button>#}
{#                </form>#}
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock page_content %}