{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block body_class %}tool_session_detail{% endblock body_class %}

{% block page_content %}
<div id="errorMessageWrapper" class="message-wrapper"></div>
{# Tool selection menu and buttons to open various forms to add tools #}
<div id="ToolSelectionMenu">
<div id="toolCreatedSuccessMessageWrapper" class="message-wrapper"></div>
    <div id="AddNewToolsMenu">
        <div class="tools-menu-header">
            <span class="tools-menu-header-text">Add New Tools</span>
        </div>
{# This covers the buttons in the tool selection menu when a form is open #}
        <div id="ToolSelectionMenuCover"></div>
{# row of buttons for adding new tools #}
        <div class="add-tools-btn-row">
            <button id="createPlayerOpenFormBtn" class="add-tool-button">+ Player</button>
            <button id="playerOrderOpenFormBtn" class="add-tool-button">Player Order</button>
            <button id="AddHpTrackerOpenFormBtn" class="add-tool-button">+ Hp Tracker</button>
            <button id="AddDieGroupOpenFormBtn" class="add-tool-button">+ Dice</button>
        </div>
{# row of buttons for adding new tools #}
        <div class="add-tools-btn-row">
            <button id="createResourceGroupOpenFormBtn" class="add-tool-button">+ Resources</button>
            <button id="AddTimerOpenFormBtn" class="add-tool-button">+ Game Timer</button>
            <button id="AddDrawBagOpenFormBtn" class="add-tool-button">+ Draw Bag</button>
            <button id="createScoringGroupOpenFormBtn" class="add-tool-button">+ Scoring Calc</button>
        </div>

{# Forms for adding tools to the tool session #}
{# create player form #}
        <div id="createPlayerFormWrapper" class="add-new-tool-form-wrapper">
            <div class="form-title-box">
                <span class="form-title-text">create new player</span>
            </div>
                <br />
            <form method="POST" id="createPlayerForm"
                  action="{% url 'player_create' %}"
                  class="add-new-tool-form">
                {% csrf_token %}
                <br />
                {{ player_form.name|add_class:'text-input-large' }}
                <br />
                {{ player_form.color|add_class:'text-input-large' }}
                <br />
                <button id="createPlayerFormSubmitBtn" type="submit" class="blue-btn">Add</button>
                <button id="createPlayerFormCancelBtn" type="button" class="red-btn">Cancel</button>
            </form>
        </div>

{# create hp tracker form #}
        <div id="AddHpTrackerFormWrapper" class="add-new-tool-form-wrapper">
            <div class="form-title-box">
                <span class="form-title-text">Add HP Tracker</span>
            </div>
                <br />
            <form method="POST" id="AddHpTrackerForm"
                  action="{% url 'add_hp_tracker' %}"
                  class="add-new-tool-form">
                {% csrf_token %}
                <br />
                {{ add_hp_tracker_form.title|add_class:'text-input-large' }}
                <br />
                {{ add_hp_tracker_form.hp_value|add_class:'text-input-large' }}
                <br />
                <button id="AddHpTrackerFormSubmitBtn" type="submit" class="blue-btn">Add</button>
                <button id="AddHpTrackerFormCancelBtn" type="button" class="red-btn">Cancel</button>
            </form>
        </div>
{# create die group form #}
        <div id="AddDieGroupFormWrapper" class="add-new-tool-form-wrapper">
            <div class="form-title-box">
                <span class="form-title-text">create dice</span>
            </div>
                <br />
            <form method="POST" id="AddDieGroupForm"
                  action="{% url 'add_die_group' %}"
                  class="add-new-tool-form">
                {% csrf_token %}
                <br />
                {{ die_group_form.title|add_class:'text-input-large' }}
                <br />
                {{ die_group_form.hp_value|add_class:'text-input-large' }}
                <br />
                <button id="AddDieGroupFormSubmitBtn" type="submit" class="blue-btn">Add</button>
                <button id="AddDieGroupFormCancelBtn" type="button" class="red-btn">Cancel</button>
            </form>
        </div>

{# create resource group form #}
        <div id="createResourceGroupFormWrapper" class="add-new-tool-form-wrapper">
            <div class="form-title-box">
                <span class="form-title-text">create resource group</span>
            </div>
                <br />
            <form method="POST" id="createResourceGroupForm"
                  action="{% url 'resource_group_create' %}"
                  class="add-new-tool-form">
                {% csrf_token %}
                <br />
                {{ resource_group_form.title|add_class:'text-input-large' }}
                <br />
                <button id="createResourceGroupFormSubmitBtn" type="submit" class="blue-btn">Add</button>
                <button id="createResourceGroupFormCancelBtn" type="button" class="red-btn">Cancel</button>
            </form>
        </div>

{# create scoring group form #}
        <div id="createScoringGroupFormWrapper" class="add-new-tool-form-wrapper">
            <div class="form-title-box">
                <span class="form-title-text">create scoring group</span>
            </div>
                <br />
            <form method="POST" id="createScoringGroupForm"
                  action="{% url 'scoring_group_create' %}"
                  class="add-new-tool-form">
                {% csrf_token %}
                <br />
                {{ scoring_group_form.title|add_class:'text-input-large' }}
                <br />
                <button id="createScoringGroupFormSubmitBtn" type="submit" class="blue-btn">Add</button>
                <button id="createScoringGroupFormCancelBtn" type="button" class="red-btn">Cancel</button>
            </form>
        </div>
    </div>

{#End of add new tools section of the menu#}

{#Buttons for selecting active tools#}
    <div id="SelectActiveToolMenu">
        <div class="tools-menu-header"><span class="tools-menu-header-text">Select Active Tool</span>
        </div>
{# row of buttons for selecting active tools tools #}
        <div class="select-active-tool-btn-row">
            <button id="OpenPlayersBtn" class="select-active-tool-button
                {% if players %}button-visible{% endif %}">Players
            </button>
            <button id="OpenHpTrackersBtn" class="select-active-tool-button
                {% if hp_trackers %}button-visible{% endif %}">HP Trackers
            </button>
            <button id="OpenDieGroupsBtn" class="select-active-tool-button
                {% if die_groups %}button-visible{% endif %}">Die Groups
            </button>
            <button id="openResourceGroupsBtn" class="select-active-tool-button
                {% if resource_groups %}button-visible{% endif %}">Resources
            </button>
        </div>
{# row of buttons for selecting active tools tools #}
        <div class="select-active-tool-btn-row">
            <button id="openScoringGroupsBtn" class="select-active-tool-button
                {% if scoring_groups %}button-visible{% endif %}">Scoring
            </button>
            <button id="openGameTimersBtn" class="select-active-tool-button
                {% if game_timers %}button-visible{% endif %}">GameTimers</button>
            <button id="openDrawBagsBtn" class="select-active-tool-button
                {% if draw_bags %}button-visible{% endif %}">Draw Bags
            </button>
        </div>
    </div>
{# collapse menu button #}
    <div class="tool-selection-menu-footer">
        <div id="CloseToolSelectionMenuBtn" class="menu-open-close-box">
            <div class="menu-open-close-line"></div>
            <div class="menu-open-close-line"></div>
            <div class="menu-open-close-line"></div>
        </div>
    </div>

</div>
<div id="ToolSessionPageHeader" class="tool-session-page-header">
    <div id=OpenToolSelectionMenuBtn class="menu-open-close-box">
        <div class="menu-open-close-line"></div>
        <div class="menu-open-close-line"></div>
        <div class="menu-open-close-line"></div>
    </div>
</div>

{#Tool views#}
<div id="ToolSessionPageWrapper">
{# This covers the tool page body when various tool forms are open #}
    <div id="toolPageDarkCover"></div>
    <div class="tool-session-page-body">

{% include 'bgt_app/hp_trackers.html' %}

{% include 'bgt_app/die_groups.html' %}

{% include 'bgt_app/resource_groups.html' %}

{% include 'bgt_app/scoring_groups.html' %}
    </div>
</div>

{% endblock page_content %}