{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block body_class %}user_home{% endblock body_class %}

{% block page_content %}
{% for message in messages %}
    {% if message.tag == error %}
        <div class="message-box error fade_out">{{ message }}</div>
    {% else %}
        <div class="message-box info fade_out">{{ message }}</div>
    {% endif %}
{% endfor %}
<div id=UserHomeWrapper>
<div class="user-home-header">
    <button id="OpenCreateToolSessionModalBtn">+</button>
</div>
<div class="user-home-body">

{#Form for adding new tool sessions#}
    <div id="CreateToolSessionFormWrapper">
        <form action=""
              method="post"
              id="CreateToolSessionForm">
            {% csrf_token %}
            {{ form.session_name|add_class:"text-input-large" }}
            <br />
            <button id="CreateToolSessionFormSubmitBtn" type="submit" class="blue-btn">Add Session</button>
            <button id="CreateToolSessionFormCancelBtn" class="red-btn">Cancel</button>
        </form>
    </div>
{% if user.is_authenticated %}
    {% for toolsession in toolsession_list %}
        <a href="{{ toolsession.get_absolute_url }}">
            <div class="tool-session-link-box">
                <span>{{ toolsession.session_name }}</span>
            </div>
        </a>
    {% empty %}
        <span class="large-text"><i>Add a game tool session to get started</i></span>
    {% endfor %}
{% endif %}
</div>
{% for message in messages %}
    {{ message }}
{% endfor %}
<div class="user-home-footer">

</div>
</div>
{% endblock %}
