{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block body_class %}user_home{% endblock body_class %}

{% block page_content %}
{% for message in messages %}
    {% if message.tag == error %}
        <div class="message-box error fade_out">{{ message }}</div>
    {% else %}
        <div class="message-box info fade_out">{{ message }}</div>
    {% endif %}
{% endfor %}
<div id="UserAccountWrapper" class="user-account-wrapper">
    <div class="user-account-header">
        <a href="{% url 'user_home' %}" class="account-back-btn"></a>
    </div>
<div class="user-account-body">
    <div id="accountInfoBox" class="account-info-box">
        <a href="javascript:;" style="width: 50%;">
            <button type="button" class="red-btn account-delete-btn  create-form-btn" style="width: 100%;">Delete Account</button>
        </a>
        <br>
        <br>
        <a href="{% url 'password_change' %}" style="width: 50%;">
            <button type="button" class="blue-btn create-form-btn" style="width: 100%;">Change Password</button>
        </a>
    </div>
    <div id="accountDeleteConfirmBox" class="account-info-box no-display">
        <div class="centered-flex-column">
            <span style="font-size: 1.75rem; padding: 0 2rem;">Are you sure you want to delete your account?</span>
            <br />
            <span style="font-size: 1.75rem">This cannot be undone.</span>
        </div>
        <br />
        <br />
        <a href="{% url 'delete_user' %}" class="create-form-btn">
            <button id="confirmAccountDelete" class="red-btn" style="width:100%;">yes, delete account</button>
        </a>
        <br>
        <br>
        <button id="cancelAccountDelete" class="blue-btn create-form-btn">keep account</button>
    </div>
</div>
{% endblock %}